html,
body
    height 100%
    width 100%
    min-width 1200px
body
    min-width 1200px

.content
    display block
    min-height 100%
    min-width 1200px
    sf()

.contentPage
    display block
    position relative
.contentPageWrap
    center(1105px)
    padding 50px 0
.overley
    display none
    opacity 0
    position absolute
    width 100%
    height 100%
    background-color #484848
    transition all .5s ease-in-out
    top 0
    left 0
    z-index -100
    &Show
        display block
        opacity 1
        visibility visible
        z-index 5000
