.feedbackPopup
    .feedbackPopupWrap
        .feedbackPopupClose
            button.buttonClose.js-closeoverlay
        .feedbackPopupHeader
            | Оставить отзыв
        .feedbackPopupForm
            .feedbackPopupFormItems
                .feedbackPopupFormItem
                    .feedbackPopupFormItemColumn
                        label.label
                            | Пожалуйста представьтесь
                            span *
                        input.input
                    .feedbackPopupFormItemColumn
                        label.label
                            | Ваш e-mail&nbsp
                            span *
                        input.input
                .feedbackPopupFormItem
                    .feedbackPopupFormItemColumn
                        label.label
                            | Ваша профессия:&nbsp
                        input.input
                    .feedbackPopupFormItemColumn
                        label.label
                            | Телефон:&nbsp
                        input.input.js-inputphone
                .feedbackPopupFormItem
                    .feedbackPopupFormItem
                        label.label
                            | Текст отзыва&nbsp
                            span *
                        textarea.textareaLight
            .feedbackPopupFormPhoto
                a(href="#")
                    img(src="img/feedbackPhotoUpload.jpg", alt="")
        .feedbackPopupFormFooter
            .feedbackPopupFormItem
                p
                    | Поля, помеченные специальным знаком&nbsp
                    span *&nbsp
                    | — обязательны для заполнения
            .feedbackPopupFormItemCenter
                button.buttonYellow
                    .buttonYellowText Зарегистрироваться
