.feedbackItems
    .feedbackItem
        .feedbackItemPhoto
            img(src="img/feedback-1.jpg", alt="")
        .feedbackItemBody
            .feedbackItemName
                | Юлия Высоцкая,&nbsp
                span 23 сентября 2015
            .feedbackItemPosition
                | Кулинар
            .feedbackItemText
                | Уже с первых минут становится ясно, что организаторы студии учли все недостатки школ-конкурентов. Начнем с того, что наконец-то каждому участнику (или паре) достается отдельное рабочее место с собственной посудой, плитой и холодильником. Это позволяет приготовить каждое блюдо от начала.
            .feedbackItemTextCut
                | Уже с первых минут становится ясно, что организаторы студии учли все недостатки школ-конкурентов. Начнем с того, что наконец-то каждому участнику (или паре) достается отдельное рабочее место с собственной посудой, плитой и холодильником. Это позволяет приготовить каждое блюдо от начала. Уже с первых минут становится ясно, что организаторы студии учли все недостатки школ-конкурентов. Начнем с того, что наконец-то каждому участнику (или паре) достается отдельное рабочее место с собственной посудой, плитой и холодильником. Это позволяет приготовить каждое блюдо от начала.
            .feedbackItemFullLink
                .linkOrangeDotted
                    a(href="javascript:void(0);").js-feedbackFull Посмотреть полный отзыв
    .feedbackItem

        .feedbackItemPhoto
            img(src="img/feedback-1.jpg", alt="")
        .feedbackItemBody
            .feedbackItemName
                | Юлия Высоцкая,&nbsp
                span 23 сентября 2015
            .feedbackItemPosition
                | Кулинар
            .feedbackItemText
                | Уже с первых минут становится ясно, что организаторы студии учли все недостатки школ-конкурентов. Начнем с того, что наконец-то каждому участнику (или паре) достается отдельное рабочее место с собственной посудой, плитой и холодильником. Это позволяет приготовить каждое блюдо от начала.
            .feedbackItemFullLink
                .linkOrangeDotted
                    a(href="javascript:void(0);").js-feedbackFull Посмотреть полный отзыв
    .feedbackItem
        .feedbackItemPhoto
            img(src="img/feedback-1.jpg", alt="")
        .feedbackItemBody
            .feedbackItemName
                | Юлия Высоцкая,&nbsp
                span 23 сентября 2015
            .feedbackItemPosition
                | Кулинар
            .feedbackItemText
                | Уже с первых минут становится ясно, что организаторы студии учли все недостатки школ-конкурентов. Начнем с того, что наконец-то каждому участнику (или паре) достается отдельное рабочее место с собственной посудой, плитой и холодильником. Это позволяет приготовить каждое блюдо от начала.
            .feedbackItemFullLink
                .linkOrangeDotted
                    a(href="javascript:void(0);") Посмотреть полный отзыв
    .feedbackItem

        .feedbackItemBody
            .feedbackItemName
                | Юлия Высоцкая,&nbsp
                span 23 сентября 2015
            .feedbackItemPosition
                | Кулинар
            .feedbackItemText
                | Уже с первых минут становится ясно, что организаторы студии учли все недостатки школ-конкурентов. Начнем с того, что наконец-то каждому участнику (или паре) достается отдельное рабочее место с собственной посудой, плитой и холодильником. Это позволяет приготовить каждое блюдо от начала.
            .feedbackItemFullLink
                .linkOrangeDotted
                    a(href="javascript:void(0);") Посмотреть полный отзыв
