.feedbackPromo
    .feedbackPromoWrap
        .feedbackPromoHeader
            span Отзывы</br>клиентов
        .feedbackPromoItems
            .feedbackPromoSliderWrap
                .feedbackPromoSlider
                    .feedbackPromoSlide
                        .feedbackPromoSlideImage
                            img(src="img/feedback01.jpg", alt="")
                        .feedbackPromoSlideText
                            .feedbackPromoSlideTextHeader
                                | Лев Кузнецов

                            .feedbackPromoSlideTextSubHeader
                                | Российский государственный деятель</br> и предприниматель
                            .feedbackPromoSlideTextBody
                                | Обычно в этом разделе многие компании пишут о том, какая классная команда профессионалов ждет тебя, какой карьерный рост совершили многие сотрудники, какие блага и преференции ждут нового игрока нашей команды и т.д. и т.п. У нас тоже такое есть, хочешь прочесть — дочитай статью до конца, хотя мы на самом деле посоветовали бы послушать, что люди говорят о наших сотрудниках...
                    .feedbackPromoSlide
                        .feedbackPromoSlideImage
                            img(src="img/feedback01.jpg", alt="")
                        .feedbackPromoSlideText
                            .feedbackPromoSlideTextHeader
                                | Лев Кузнецов

                            .feedbackPromoSlideTextSubHeader
                                | Российский государственный деятель</br> и предприниматель
                            .feedbackPromoSlideTextBody
                                | Обычно в этом разделе многие компании пишут о том, какая классная команда профессионалов ждет тебя, какой карьерный рост совершили многие сотрудники, какие блага и преференции ждут нового игрока нашей команды и т.д. и т.п. У нас тоже такое есть, хочешь прочесть — дочитай статью до конца, хотя мы на самом деле посоветовали бы послушать, что люди говорят о наших сотрудниках...
                    .feedbackPromoSlide
                        .feedbackPromoSlideImage
                            img(src="img/feedback01.jpg", alt="")
                        .feedbackPromoSlideText
                            .feedbackPromoSlideTextHeader
                                | Лев Кузнецов

                            .feedbackPromoSlideTextSubHeader
                                | Российский государственный деятель</br> и предприниматель
                            .feedbackPromoSlideTextBody
                                | Обычно в этом разделе многие компании пишут о том, какая классная команда профессионалов ждет тебя, какой карьерный рост совершили многие сотрудники, какие блага и преференции ждут нового игрока нашей команды и т.д. и т.п. У нас тоже такое есть, хочешь прочесть — дочитай статью до конца, хотя мы на самом деле посоветовали бы послушать, что люди говорят о наших сотрудниках...
