.breadcrumb
    .breadcrumbItem
        a(href="#") Главная
    .breadcrumbItem
        | Личный кабинет
.feedbackHeader
    .feedbackHeaderText
        h1 отзывы
    .feedbackHeaderBack
        button.js-feedbackPopup.buttonYellow
            .buttonYellowText Оставить отзыв
