.feedbackPopup
    display none
    position relative
    width 100%
    height 100%
    left 0
    right 0
    margin-left 50px
    &Wrap
        display block
        width 900px
        height 500px
        abs_center()
        background-repeat no-repeat
        background-position top 130px right
        background-image inline('formBG.png')
        sf()
    &Show
        display block

.feedbackPopupClose
    display block
    position absolute
    right 0
    top 2px

.feedbackPopupHeader
    display block
    ff(hangy,3.0,3.0)
    color #fff
    margin-bottom 30px

.feedbackPopupForm
    display block
    margin-bottom 10px
    sf()
.feedbackPopupFormItems
    display block
    float left
    width 622px
    margin-right 20px

.feedbackPopupFormPhoto
    display block
    margin-top 38px
    width 248px
    float left

.feedbackPopupFormFooter
    display block
    sf()
.feedbackPopupFormItem
    display block
    margin-bottom 18px
    sf()
    &Column
        column(1/2)
        padding 7px 0px
    a
        color #FEF27D
        ff(din,1.7)
        &:hover
            text-decoration none
            color #ef9801
    p
        ff(din,1.4,2.0)
        color #fff
        text-align center
        span
            ff(din,2.0,2.0)
            color #FF5E5E
    &Center
        text-align center
    textarea
        min-height 120px
