.breadcrumb
    .breadcrumbItem
        a(href="#") Главная
    .breadcrumbItem
        | Личный кабинет
.presenterHeader
    h1 Наша команда
    .presenterHeaderBack
        a(href="#") Назад к команде
