.presenterShedule
    .presenterSheduleLeft
        .presenterSheduleHeader
            .headerGlass
                | Ведет занятия
            .presenterSheduleHeaderLink
                a(href="#") Посмотреть все занятия
        .presenterSheduleItems

            .presenterSheduleItem
                .presenterSheduleItemPhoto
                    img(src="img/presentShedule-1.jpg", alt="")
                .presenterSheduleItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .presenterSheduleItemClock
                    .presenterSheduleItemClockDate
                        | 27,пт
                        span Сентября
                    .presenterSheduleItemBottle
                    .presenterSheduleItemClockTime
                        | 13:00

            .presenterSheduleItem
                .presenterSheduleItemPhoto
                    img(src="img/presentShedule-2.jpg", alt="")
                .presenterSheduleItemName
                    | Фьюжн: Суп из чечевицы и тыквы, карп томленый, медовая ковржика
                .presenterSheduleItemClock
                    .presenterSheduleItemClockDate
                        | 27,пт
                        span Сентября
                    .presenterSheduleItemBottle
                    .presenterSheduleItemClockTime
                        | 13:00

            .presenterSheduleItem
                .presenterSheduleItemPhoto
                    img(src="img/presentShedule-3.jpg", alt="")
                .presenterSheduleItemName
                    | Настоящий стейк и секреты его прожарки.
                .presenterSheduleItemClock
                    .presenterSheduleItemClockDate
                        | 27,пт
                        span Сентября
                    .presenterSheduleItemBottle
                    .presenterSheduleItemClockTime
                        | 13:00
    .presenterSheduleRight
        img(src="img/ads02.jpg", alt="")
