.presenterBio
    .presenterBioPhoto
        img(src="img/bio-1.jpg")
    .presenterBioBody
        .presenterBioName Баранников Евгений
        .presenterBioPosition Бренд-шеф сети Bellini Group
        .presenterBioDescritip
            p По образованию технолог производства общественного питания. Работал в ресторанах французской, мексиканской, русской и белорусской кухонь (Chateau de Fantomas, Casa Agave, Белая Русь, бар-ресторан Остап Бендер). Серебряный и бронзовый призер международного кулинарного чемпионата в Сербии. В работе на первом месте стоят эксперименты и хорошее настроение!
    .presenterBioCount
        | провел
        span 150
        | занятий
