.breadcrumb
    display block
    margin-bottom 25px
    sf()
.breadcrumbWhite
    .breadcrumbItem
        color #a8acb6
        a
            color #a8acb6
.breadcrumbItem
    display inline-block
    ff(din,1.3)
    color #84868C
    a
        color #84868C
        &:hover
            text-decoration none
    &:after
        color #84868C
        content "—"
        padding 0 5px
    &:last-child
        &:after
            content ""
