.feedbackItems
    display block
    position relative
    margin-bottom 30px
    sf()
.feedbackItem
    display block
    position relative
    float left
    margin-right 20px
    margin-bottom 20px
    width 542px
    height 306px
    box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
    background-color #fff
    &:nth-child(2n)
        margin-right 0px
.feedbackItemFull
    display none
    position fixed
    width 1105px
    left 0
    right 0
    margin 0 auto
    top 30%
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    z-index 10000
    .feedbackItem
        width 100%
        margin-bottom 0px
    .feedbackPopupClose
        top -30px
        right -30px
// .feedbackItemFull
//     display none
//     width 542px
//     overflow hidden
//     transition all .5s
//     background-color #fff
//     z-index 100
// .feedbackItemFullOpen
//     display block
//     position absolute
//     width 1105px
//     top 0
//     left 0
//     box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
//     background-color #fff
//     height 306px
//     z-index 100
//     .feedbackItemBody
//         .feedbackItemText
//             display none
//         .feedbackItemTextCut
//             display block
//             visibility visible
//             opacity 1
.feedbackItemPhoto
    display table-cell

    img
        width 206px
        height 306px
.feedbackItemBody
    display table-cell
    vertical-align top
    bg(left 15px, top 27px)
    background-image inline("feedbackItemBG.png")
    padding 37px 29px 20px 20px

.feedbackItemName
    display block
    ff(hangy,2.4)
    color #000
    margin-bottom 10px
    sf()
    span
        color #737373
        ff(hangy,1.7)

.feedbackItemPosition
    display block
    ff(hangy,1.8)
    color #3f3f3f
    margin-bottom 15px
    sf()

.feedbackItemText
    display block
    color #414141
    ff(din,1.5,2.0)
    margin-bottom 10px
    sf()

.feedbackItemTextCut
    display none
    visibility hidden
    opacity 0
    z-index -100
    color #414141
    ff(din,1.5,2.0)
    margin-bottom 10px
    transition all 1s
    sf()
