.presenterBio
    display block
    background-color #FFF
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    bg(right -30px, bottom -30px)
    background-size 305px 313px
    background-image url("../img/mouseBG.png")
    margin-bottom 35px
    sf()

.presenterBioPhoto
    display block
    width 384px
    height 487px
    float left
    sf()
.presenterBioBody
    display block
    width 464px
    float left
    padding 30px 30px 0 30px
    sf()
.presenterBioCount
    display block
    width 227px
    height 263px
    bg()
    background-image url("../img/biocount.png")
    float left
    margin-right 30px
    margin-top 30px
    ff(din,2,2)
    color #fff
    text-transform uppercase
    padding-top 37px
    text-align center
    span
        display block
        position relative
        color #fef27d
        ff(hangy,9,9)
        margin-top 5px
        margin-bottom -15px
        &:before
            display inline-block
            content ""
            margin-right 10px
            width 20px
            height 55px
            bg()
            background-image inline("iconPromoHeaderLeft.png")
        &:after
            display inline-block
            //position absolute
            content ""
            margin-left 10px
            right 30px
            width 20px
            height 55px
            bg()
            background-image inline("iconPromoHeaderRight.png")
.presenterBioName
    display block
    color #242425
    ff(hangy,3.6)
    margin-bottom 10px
    sf()

.presenterBioPosition
    display block
    color #232323
    ff(hangy,2.2)
    margin-bottom 30px
    sf()
