.cabinetTabNoBG.cabinetTab_3#tab-3
    .cartItems
        .cartItem
            .cartItemPhoto
                .cartItemPhotoWrap
                    img(src="img/cart-1.jpg", alt="")
                    .cartItemDelete
                        button.cartItemDeleteButton
            .cartItemBody
                .cartItemBodyName
                    | Обед за 40 минут. Крем суп из грибов.
                .cartItemBodyClock
                    .cartItemBodyClockDate
                        | 27 sентября 2015
                    .cartItemBodyClockTime
                        | 13:00
            .cartItemForm
                .cartItemFormLabel
                    | Кол-во
                .cartItemFormInput
                    .cartItemFormInputWrap
                        .cartItemFormInputMinus
                            a(href="#")
                        .cartItemFormInputField
                            input.inputDark
                        .cartItemFormInputPlus
                            a(href="#")
                .cartItemFormPrice
                    span 222’900
                .cartItemFormReserve
                    | Осталось&nbsp
                    b 220 мест
        .cartItem
            .cartItemPhoto
                .cartItemPhotoWrap
                    img(src="img/cart-2.jpg", alt="")
                    .cartItemDelete
                        button.cartItemDeleteButton
            .cartItemBody
                .cartItemBodyName
                    | Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                .cartItemBodyClock
                    .cartItemBodyClockDate
                        | 27 sентября 2015
                    .cartItemBodyClockTime
                        | 13:00
            .cartItemForm
                .cartItemFormLabel
                    | Кол-во
                .cartItemFormInput
                    .cartItemFormInputWrap
                        .cartItemFormInputMinus
                            a(href="#")
                        .cartItemFormInputField
                            input.inputDark
                        .cartItemFormInputPlus
                            a(href="#")
                .cartItemFormPrice
                    span 222’900
                .cartItemFormReserve
                    | Осталось&nbsp
                    b 220 мест
        .cartItem
            .cartItemPhoto
                .cartItemPhotoWrap
                    img(src="img/cart-3.jpg", alt="")
                    .cartItemDelete
                        button.cartItemDeleteButton
            .cartItemBody
                .cartItemBodyName
                    | Домашняя пицца
                .cartItemBodyClock
                    .cartItemBodyClockDate
                        | 27 sентября 2015
                    .cartItemBodyClockTime
                        | 13:00
            .cartItemForm
                .cartItemFormLabel
                    | Кол-во
                .cartItemFormInput
                    .cartItemFormInputWrap
                        .cartItemFormInputMinus
                            a(href="#")
                        .cartItemFormInputField
                            input.inputDark
                        .cartItemFormInputPlus
                            a(href="#")
                .cartItemFormPrice
                    span 222’900
                .cartItemFormReserve
                    | Осталось&nbsp
                    b 220 мест
    .cartSummary
        .cartSummaryText
            | Итого:
            .cartSummaryTextPrice
                span 22’900
        .cartSummarySubmit
            button.buttonYellow
                .buttonYellowText Оформить заказ
