.cabinetTab.cabinetTab_1#tab-1
    .cabinetTabForm
        .cabinetDataItem
            b Ваше имя:
            | Александр Старообрядцевский
        .cabinetDataItem
            b E-mail:
            | mail@mail.ru
        .cabinetDataItem
            b Телефон:
            | +7 (905) 999-99-99
        .cabinetDataItemEmpty
        .cabinetDataItem
            b Пол:
            | Мужской
        .cabinetDataItem
            b Дата рождения:
            | 27 января 1976
        .cabinetDataItemEmpty
        .cabinetDataItem
            b Страна:
            | Россия
        .cabinetDataItem
            b Город:
            | Красноярск
        .cabinetDataItem
            b Адрес:
            | ул. Партизана Железняка, д. 62, кв. 65
        .cabinetDataItemEmptyBottom20
        .linkOrangeDotted
            a(href="javascript:void(0);").js-showcabinetedit Редактировать личную информацию
    .cabinetTabFormEdit
        .cabinetFormItem
            label.label Ваше имя:
            input(value="Александр Старообрядцевский")
        .cabinetFormItem
            label E-mail:
            input(value="mail@mail.ru")
        .cabinetFormItem
            label Телефон:
            input(value="+7 (905) 999-99-99")
        .cabinetFormItemEmpty
        .cabinetFormItem
            label Пол:
            select.selectric
                option Мужской
                option Женский
        .cabinetFormItem
            label Дата рождения:
            input(value="1976-01-27" type="date")
        .cabinetFormItemEmpty
        .cabinetFormItem
            label Страна:
            input(value="Россия")
        .cabinetFormItem
            label Город:
            input(value="Красноярск")
        .cabinetFormItem
            label Адрес:
            input(value="ул. Партизана Железняка, д. 62, кв. 65")
        .cabinetFormItemEmpty
        .cabinetFormItem
            label Пароль:
            input(type="password")
        .cabinetFormItem
            label Подтвердите пароль:
            input(type="password")
        .cabinetFormItemEmpty
        .cabinetFormButton
            button.buttonOhra.js-showcabinet
                .buttonOhraText Отмена
            button.buttonYellow.js-showcabinet
                .buttonYellowText Сохранить

    .cabinetTabImages
        .cabinetTabImage
            img(src="img/lkimage.jpg", alt="")
        .cabinetTabImageEdit
            .linkOrangeDotted
                a(href="#") Выбрать фотографию
