.cabinetTabs
    .cabinetTabsMenu
        .cabinetTabButton
            .cabinetTabButtonLK.cabinetTabButtonLKActive
                a(href="#tab-1").js-tabbutton Личные данные
            .cabinetTabButtonOrders
                a(href="#tab-2").js-tabbutton Список заказов
            .cabinetTabButtonCart
                a(href="#tab-3").js-tabbutton Корзина товаров
        .cabinetTabExit
            button.cabinetLogout Выход
