.cabinetTab.cabinetTab_2#tab-2
    table.cabinetOrderTable
        thead
            tr
                td № заказа
                td Дата
                td Товары в заказе
                td Сумма заказа
                td.cabinetOrderTableBlack Статус
        tbody
            tr
                td № 123
                td 26 апреля 2015, 22:45
                td
                    .cabinetOrderItems
                        .cabinetOrderItemsMore
                            .linkOrangeDotted
                                a(href="javascript:void(0);").js-cabinetItemMore Показать еще 8 позиций
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-1.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Обед за 40 минут. Крем суп из грибов.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-2.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-1.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Обед за 40 минут. Крем суп из грибов.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-2.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-1.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Обед за 40 минут. Крем суп из грибов.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-2.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                                span Кол-во: 1 шт.
                td.cabinetOrderTablePrice
                    span 222’900
                td.cabinetOrderTableBlack Принят
            tr
                td № 123
                td 26 апреля 2015, 22:45
                td
                    .cabinetOrderItems
                        .cabinetOrderItemsMore
                            .linkOrangeDotted
                                a(href="javascript:void(0);").js-cabinetItemMore Показать еще 8 позиций
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-1.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Обед за 40 минут. Крем суп из грибов.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-2.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-1.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Обед за 40 минут. Крем суп из грибов.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-2.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-1.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Обед за 40 минут. Крем суп из грибов.
                                span Кол-во: 1 шт.
                        .cabinetOrderItem
                            .cabinetOrderItemPhoto
                                img(src="img/cabinetOrderItem-2.jpg", alt="")
                            .cabinetOrderItemBody
                                a(href="#") Фьюжн: суп из чучевицы и тыквы, карп томленый и медовая коврижка.
                                span Кол-во: 1 шт.
                td.cabinetOrderTablePrice
                    span 222’900
                td.cabinetOrderTableBlack Выполнен
