.button
    display block
    border 0
    outline 0

.buttonViolet
    @extend .button
    display inline-block
    width 100%
    background-color #7C5DA3
    color #FFFEFE
    ff(normal,1.6,1.6)
    padding 7px 20px
    border 1px solid #4B3566
    &:disabled
        background-color greys
    &:hover
        background-color darken(#7C5DA3,20%)
.buttonVioletBig
    @extend .buttonViolet
    padding 11px 20px
.buttonBlue
    @extend .buttonVioletBig
    width auto
    background-color #69B1E0
    border 1px solid #4480A6
    &:disabled
        background-color greys
    &:hover
        background-color darken(#69B1E0,20%)

.buttonClose
    display block
    width 22px
    height 22px
    bg()
    background-image inline('iconClose.png')
    background-color transparent
    border 0
    outline 0
    transition all .5s ease-in-out
    &:hover
        transform rotate(180deg)


.buttonYellow
    display inilne-block
    height 50px
    width auto
    padding 0 30px
    background-position left bottom
    background-repeat repeat-x
    background-image inline("iconGo.png")
    background-color #fef27d
    transition background-color .5s
    text-align center
    outline 0
    border 0
    sf()
    &Text
        display inline-block
        position relative
        color #723500
        ff(hangy,2.2)
        padding 0 15px
        &:after
            content ""
            display block
            top 4px
            left -10px
            position absolute
            width 19px
            height 14px
            bg()
            background-image inline("iconSmallBant.png")
        &:before
            content ""
            display block
            top 4px
            right -10px
            position absolute
            width 19px
            height 14px
            bg()
            background-image inline("iconSmallBant.png")
    &:hover
        background-color #fff6a3
        .sheduleSlideButtonText
            color #343221
            &:after, &:before
                background-image inline("iconSmallBantGrey.png")
    &:active
        background-color #b4ad6b
        background-position left top -2px
        background-repeat repeat-x
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")
.buttonYellowMedium
    display inilne-block
    height 50px
    width auto
    padding 0 30px
    background-position left bottom
    background-repeat repeat-x
    background-image inline("iconGo.png")
    background-color #fef27d
    transition background-color .5s
    text-align center
    outline 0
    border 0
    sf()
    &Text
        display inline-block
        position relative
        color #723500
        ff(hangy,2.4)
        padding 0 13px
        &:after
            content ""
            display block
            top 4px
            left -18px
            position absolute
            width 19px
            height 14px
            bg()
        &:before
            content ""
            display block
            top 4px
            right -18px
            position absolute
            width 19px
            height 14px
            bg()

        &:after, &:before
            background-image inline("iconMediumBant.png")
    &:hover
        background-color #fff6a3
        .sheduleSlideButtonText
            color #343221
            &:after, &:before
                background-image inline("iconSmallBantGrey.png")
    &:active
        background-color #b4ad6b
        background-position left top -2px
        background-repeat repeat-x
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")
.buttonYellowSmall
    display inilne-block
    height 40px
    width auto
    padding 0 15px
    background-position left bottom
    background-repeat repeat-x
    background-image inline("iconGo.png")
    background-color #fef27d
    transition background-color .5s
    text-align center
    outline 0
    border 0
    sf()
    &Text
        display inline-block
        position relative
        color #723500
        ff(hangy,2)
        padding 0 12px
        &:after
            content ""
            display block
            top 3px
            left -10px
            position absolute
            width 19px
            height 14px
            bg()

        &:before
            content ""
            display block
            top 3px
            right -10px
            position absolute
            width 19px
            height 14px
            bg()
        &:after,
        &:before
            background-image inline("iconSmallestBant.png")
    &:hover
        background-color #fff6a3

    &:active
        background-color #b4ad6b
        background-position left top -2px
        background-repeat repeat-x

.buttonOhra
    @extend .buttonYellow
    background-color #e8d6ad
    &:hover
        background-color #fff6c7
    &:active
        background-color #d5c091
