mixin buttonOutline(icon,text,active)
    if active
        .buttonOutline.buttonOutlineActive
            +svgButtonIcon(icon)
            if text
                .buttonOutlineText= text
    else
        .buttonOutline
            +svgButtonIcon(icon)
            if text
                .buttonOutlineText= text
