$main-color = #575757
$secondary-color = #a6a178
$bg-color = #fff
$text-color = #575757
$height = 44px
$spacing = 10px
$border-width = 2px
$inner-height = $height - $border-width * 2

.selectric-wrapper
    position: relative
    cursor: pointer
.selectric-responsive
    width: 100%
.selectric
    border: $border-width solid #a6a178
    background: $bg-color
    position: relative
    border-radius 2px
    .label
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin: 0 $inner-height 0 $spacing
        ff(din,1.7)
        line-height: $inner-height
        color: $text-color
        height: $inner-height
    .button
        display: block
        position: absolute
        right: 0
        top: 0
        width: $inner-height
        height: $inner-height
        color: $secondary-color
        text-align: center
        font: 0/0 a
        &:after
            content: " "
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: auto
            width: 18px
            height: 12px
            display block
            bg()
            background-image inline("iconSelect.png")

.selectric-hover .selectric
    border-color: #484848
    .button
        &:after
            background-image inline("iconSelectActive.png")
.selectric-open

    z-index: 9999
    .selectric
        border-color: #484848

        border-radius 2px 2px 0 0
    .selectric-items
        display: block
    .label
        color #575757
    .button
        &:after
            background-image inline("iconSelectActive.png")
.selectric-disabled
    opacity: 0.5
    cursor: default
    user-select: none
.selectric-hide-select
    position: relative
    overflow: hidden
    width: 0
    height: 0
    select
        position: absolute
        left: -100%
        display: none
.selectric-input
    position: absolute !important
    top: 0 !important
    left: 0 !important
    overflow: hidden !important
    clip: rect(0, 0, 0, 0) !important
    margin: 0 !important
    padding: 0 !important
    width: 1px !important
    height: 1px !important
    outline: none !important
    border: none !important
    *font: 0/0 a !important
    background: none !important
.selectric-temp-show
    position: absolute !important
    visibility: hidden !important
    display: block !important
/* Items box */
.selectric-items
    display: none
    position: absolute
    top: 100%
    left: 0
    margin-top -2px
    background: #e5e3d1
    border: 2px solid #484848
    z-index: -1
    box-shadow: 0 0 10px -6px
    .selectric-scroll
        height: 100%
        overflow: auto
    .selectric-above &
        top: auto
        bottom: 100%
    ul, li
        list-style: none
        padding: 0
        margin: 0
        font-size: 16px
        line-height: 20px
        min-height: 20px
    li
        display: block
        padding: 8px
        color: #575757
        ff(din,1.7,2)
        cursor: pointer
        &.selected
            background: darken(#e5e3d1,20%)
        &:hover
            background: #484848
            color: #cecece
        &:before
            display none
    .disabled
        opacity: 0.5
        cursor: default !important
        background: none !important
        color: #666 !important
        user-select: none
    .selectric-group
        .selectric-group-label
            font-weight: bold
            padding-left: 10px
            cursor: default
            user-select: none
            background: none
            color: #444
        &.disabled li
            opacity: 1
        li
            padding-left: 25px
