.cartSummary
    display block
    float left
    width 256px
    height 263px
    bg()
    background-image url("../img/summaryBG.png")
    padding-top 46px
    sf()

.cartSummaryText
    text-align center
    ff(hangy,2.8)
    color #fff
    margin-bottom 30px
.cartSummaryTextPrice
    margin-top 10px
    span
        display inline-block
        ff(hangy,4)
        color #fef27d
        position relative
        &:after
            display block
            position absolute
            right -24px
            top -4px
            content ""
            width 18px
            height 40px
            bg()
            background-image inline("iconRubleYellow.png")
.cartSummarySubmit
    text-align center
