.cabinetTabForm
    display block
    width 754px
    float left
    margin-right 34px
    &Edit
        @extend .cabinetTabForm
        display none
.cabinetDataItem
    display block
    margin-bottom 30px
    ff(din,1.7,1.7)
    color #3A3A3A
    b
        display inline-block
        width 190px
.cabinetDataItemEmpty
    display block
    width 100%
    height 1px
    margin-bottom 30px
    background-color #e3e3e3
    sf()
    &Bottom20
        @extend .cabinetDataItemEmpty
        margin-bottom 20px

.cabinetTabImages
    display block
    width 254px
    float left
.cabinetTabImage
    display block
    margin-bottom 10px
    sf()
.cabinetTabImageEdit
    display block
    text-align center


.cabinetFormItem
    display block
    margin-bottom 6px
    sf()
    label
        display inline-block
        width 190px
        ff(din,1.7,1.7)
        font-weight bold
        color #3A3A3A
    input
        display inline-block
        width 440px
        background-color transparent
        border 2px solid #a6a178
        outline 0
        height 44px
        padding 8px
        ff(din,1.7)
        color #575757
        border-radius 2px
        &:hover
            border 2px solid #484848
        &:focus
            border 2px solid #484848
            background-color #e5e3d1
    .selectric-wrapper
        display inline-block
        width 440px
.cabinetFormItemEmpty
    display block
    width 100%
    height 1px
    margin-top 24px
    margin-bottom 30px
    background-color #e3e3e3
    sf()

.cabinetFormButton
    display block
    float right
    margin-right 125px
    button
        margin-left 16px
