.presenterHeader
    display block
    margin-bottom 20px
    sf()

.presenterHeaderBack
    display block
    float right
    margin-top 14px
    sf()
    a
        display block
        position relative
        color #968f5c
        ff(hangy,2)
        transition all .5s
        bg(left)
        padding-left 30px
        background-image inline("iconBack.png")
    &:hover
        a
            color darken(#968f5c,20%)
            text-decoration none
