@font-face
    font-family DINPro
    src url('DINPro-Regular.woff') format("woff")
    font-weight 300
    font-style 400
@font-face
    font-family Hangyaboly
    src url('hangyaboly.regular.woff') format("woff")
    font-weight 300
    font-style 400
@font-face
    font-family MyriadPro
    src url('MyriadPro-Regular.woff') format("woff")
    font-weight 300
    font-style 400
@font-face
    font-family Slide-icons
    src url('Slide-icons.woff') format("woff")
    font-weight 400
    font-style normal
