.accordion
    background #fff
    width auto
    height auto
    padding 0
    list-style none
    margin-left -10px
    & > li
        & > a
            width 217px
            margin 0 auto
            height 32px
            text-indent 20px
            display block
            position relative
            ff(normal,1.4,3.2)
            text-decoration none
            color #333
            &:after
                display block
                content ''
                bg()
                top 0
                width 9px
                height 32px
                background-image url('iconArrowRight.png')
                position absolute
                right 10px
            &:hover
                &:after
                    display block
                    content ''
                    bg()
                    top 0
                    width 9px
                    height 32px
                    background-image url('iconArrowLeftW.png')
                    position absolute
                    right 10px
            &.active
                &:after
                    display block
                    content ''
                    bg()
                    top 0
                    width 9px
                    height 32px
                    background-image url('iconArrowUpW.png')
                    position absolute
                    right 10px
        & > ul
                list-style none
                li
                    a
                        &.current
                            color #CDAE5A
                            
                            box-shadow none
                            box-shadow none
                            &:before
                                display block
                                content ''
                                bg()
                                background-image url('iconArrowRightY.png')
                                position absolute
                                height 32px
                                width 6px
                                top 0px
                                left -2px
    ul
        padding 0
        margin -5px 0 -5px 0
        li
            a
                width 168px
                margin 0 auto
                ff(normal,1.4,3.2)
                text-indent 20px
                display block
                position relative
                font-size 14px
                color #333
                text-decoration none
                box-shadow inset 1px 0px 0px 0px #b4b4b4
            &:first-child
                a
                    height 32px
                    margin-top 17px
            &:last-child
                a
                    height 32px
                    margin-bottom 17px

.accordion > li > a:hover,
.accordion > li > a.active
    background-color #CDAE5A
    color #fff
    transition background 0.4s ease-in-out
    transition background 0.4s easeout

.accordion > li > ul li:hover a,
.accordion > li > ul li:hover a:before
    color #CDAE5A
    transition all 0.5s ease-in-out
    transition all 0.5s easeout
