.giftBG
    .contentPageWrap
        .breadcrumb.breadcrumbWhite
            .breadcrumbItem
                a(href="#") Главная
            .breadcrumbItem
                | Личный кабинет
        .giftHeader
            | Подарочные сертификаты
        .giftBanner
            .giftBannerImage
                img(src="img/giftCertifacat.png", alt="")
            .giftBannerText
                .giftBannerTextHeader
                    | Найти идеальный подарок — задача не из простых, хочется, чтобы он произвел впечатление и запомнился надолго.
                .giftBannerTextSub

                    | Ежемесячно мы проводим более пятидесяти мастер-классов — для тех, кто давно и всерьез увлечен кулинарией, и для тех, кто делает самые первые шаги, а еще для тех, кому пока нужна табуретка, чтобы дотянуться до рабочей поверхности, а также их мам, пап и друзей… Хотите ли вы сделать подарок на день рождения, новый год, день всех влюбленных, свадьбу или поощрить своего сотрудника, сертификат нашей кулинарной студии станет отличным выбором!
