.giftCertificatItems
    .giftCertificatItem
        .giftCertificatItemPhoto
        .giftCertificatItemText
            | Подарочный сертификат на 1000 рублей
        .giftCertificatItemFooter
            .giftCertificatItemFooterPrice
                span 1’000
            .giftCertificatItemFooterButton
                button.buttonYellowSmall
                    .buttonYellowSmallText
                        | Купить
    .giftCertificatItem
        .giftCertificatItemPhoto
        .giftCertificatItemText
            | Подарочный сертификат на 2000 рублей
        .giftCertificatItemFooter
            .giftCertificatItemFooterPrice
                span 2’000
            .giftCertificatItemFooterButton
                button.buttonYellowSmall
                    .buttonYellowSmallText
                        | Купить
    .giftCertificatItem
        .giftCertificatItemPhoto
        .giftCertificatItemText
            | Подарочный сертификат на 3000 рублей
        .giftCertificatItemFooter
            .giftCertificatItemFooterPrice
                span 3’000
            .giftCertificatItemFooterButton
                button.buttonYellowSmall
                    .buttonYellowSmallText
                        | Купить
    .giftCertificatItem
        .giftCertificatItemPhoto
        .giftCertificatItemText
            | Подарочный сертификат на 5000 рублей
        .giftCertificatItemFooter
            .giftCertificatItemFooterPrice
                span 5’000
            .giftCertificatItemFooterButton
                button.buttonYellowSmall
                    .buttonYellowSmallText
                        | Купить
