.headerTop
    display block
    height 48px
    padding 10px 0
    text-align center
    sf()
.headerTopWrap
    display inline-block
    sf()
.headerTopLogo
    display block
    float left
    sf()
    a
        display block
        width 90px
        height 29px
        transition all 0.3s ease
        bg()
        background-image inline("logoGroup.png")
        &:hover
            filter brightness(30%)
.headerTopSelect
    display block
    float left
    padding-top 7px
    margin-left 25px
    a
        display block
        position relative
        ff(din,1.4,1.4)
        height 17px
        color #A5A2A7
        text-decoration none
        border-bottom 1px dotted #A5A2A7
        transition all 0.3s ease
        &:hover
            color #1E1E1E
            border-bottom 0
        &:after
            display block
            top 6px
            right -12px
            position absolute
            content ""
            bg()
            background-image inline("iconArrowDown.png")
            width 7px
            height 5px
