.cartItems
    display block
    float left
    width 827px
    margin-right 22px
    sf()

.cartItem
    display block
    box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
    margin-bottom 20px
    sf()
    a
        text-decoration none
    &:hover
        .cartItemPhoto
            .cartItemPhotoWrap
                img
                    transform scale(1.1)
        .cartItemBodyName
            color #c68700
        .cartItemFormLabel
            font-weight 600
        .cartItemFormInput
            input
                background-color #FFF
                border 2px solid #484848
        .cartItemFormInputMinus
            background-image inline("iconMinusBlack.png")
        .cartItemFormInputPlus
            background-image inline("iconPlusBlack.png")
.cartItemPhoto
    display table-cell
.cartItemPhotoWrap
    display block
    height 200px
    position relative
    overflow hidden
    sf()
    img
        height 100%
        transition all .5s
.cartItemDelete
    display block
    position absolute
    top 12px
    left 10px
    .cartItemDeleteButton
        display block
        width 46px
        height 47px
        outline 0
        background-color transparent
        border 0
        bg()
        background-image inline("iconDeleteItem.png")
        sf()
// .cartItemDelete
//
.cartItemBody
    display table-cell
    vertical-align top
    background-color #FFF
    width 380px
    padding 33px 24px
.cartItemBodyName
    ff(din,2.2)
    padding-bottom 10px
    bg(bottom)
    background-repeat repeat-x
    background-image inline("sheduleBottomBorder.png")
    margin-bottom 20px
.cartItemBodyClock
    display block
    sf()
.cartItemBodyClockDate
    display inline-block
    color #535353
    margin-right 20px
    ff(hangy,2)

.cartItemBodyClockTime
    display inline-block
    padding-left 30px
    bg(left, bottom 5px)
    background-image inline("iconClock.png")
    color #212121
    ff(hangy,2.6)
.cartItemForm
    display table-cell
    vertical-align top
    width 190px
    padding-top 10px
    background-color #f0f0f0

.cartItemFormPrice
    display block
    text-align center
    margin-bottom 5px
    ff(hangy,3,3)
    color #010101
    span
        display inline-block
        position relative
        &:after
            display block
            position absolute
            right -18px
            top -4px
            content ""
            width 14px
            height 30px
            bg()
            background-image inline("iconRuble.png")

.cartItemFormLabel
    display block
    text-align center
    color #5e5e5e
    ff(din,1.7)
    margin-bottom 5px

.cartItemFormInput
    display block
    text-align center
    margin-bottom 36px
    sf()
    input
        background-color #FFF
        text-align center
        transition all .5s
        &:focus, &:active
            background-color #FFF
.cartItemFormInputWrap
    display inline-block
.cartItemFormInputMinus
    display table-cell
    vertical-align top
    bg()
    width 33px
    height 44px
    background-image inline("iconMinus.png")
    transition all .5s

.cartItemFormInputField
    display table-cell
    vertical-align top
    width 77px
    input
        margin-bottom 0px

.cartItemFormInputPlus
    display table-cell
    vertical-align top
    padding-left 10px
    bg()
    width 33px
    height 44px
    background-image inline("iconPlus.png")
    transition all .5s

.cartItemFormReserve
    display block
    text-align center
    color #6d6d6d
    ff(din,1.5)
    b
        color #72511c
