.presenterShedule
    display block
    sf()
.presenterSheduleLeft
    display block
    float left
    width 827px
    margin-right 22px
    sf()
.presenterSheduleRight
    display block
    float left
    width 256px
    sf()
.presenterSheduleHeader
    display block
    margin-bottom 20px
    margin-left 20px
    sf()
    .headerGlass
        float left
    &Link
        display block
        margin-top 10px
        float right
        a
            color #914400
            ff(din,1.5,1.5)
            &:hover
                color #FFA200
                text-decoration none

.presenterSheduleItem
    display block
    width 261px
    float left
    margin-right 22px
    sf()
    &:last-child
        margin-right 0px
    &:hover
        .presenterSheduleItemName
            color #c68700
        .presenterSheduleItemPhoto
            img
                transform scale(1.1)
.presenterSheduleItemName
    display block
    background-color #FFF
    padding 18px
    height 105px
    bg(bottom)
    background-image inline("sheduleBottomBorder.png")
    ff(din,2)
.presenterSheduleItemPhoto
    display block
    height 200px
    overflow hidden
    sf()
    img
        height 100%
        transition all .5s
.presenterSheduleItemClock
    display block
    position relative
    padding 19px 17px
    height 87px
    background-image inline("presenterSheduleClockBG.png")
.presenterSheduleItemClockDate
    display block
    float left
    margin-right 30px
    ff(hangy,2.4)
    color #000
    span
        display block
        color #535353
        ff(hangy,1.5)
.presenterSheduleItemClockTime
    display block
    float right
    padding-left 30px
    bg(left)
    background-image inline("iconClock.png")
    color #212121
    ff(hangy,2.8)

.presenterSheduleItemBottle
    display block
    abs_center()
    margin-top -10px
    margin-left -20px
    bg()
    background-image inline("iconBottle.png")
    sf()
