.banner
    background-color #ccc
    position relative
    margin-bottom 10px
    .bannerText
        display block
        position absolute
        margin auto
        left 0
        right 0
        top 0
        bottom 0
        height 40px
        color #fff
        ff(normal,1.4)
        text-align center
        span
            display block
