

mixin banner(w,h)
    - wSz = "width:" + w + 'px'
    - hSz = "height:" + h + 'px'

    .banner(style= wSz + ';' + hSz)
        .bannerText Banner
            span= w + ' x ' + h

mixin buttonOutline(icon,text,active)
    if active
        .buttonOutline.buttonOutlineActive
            +svgButtonIcon(icon)
            if text
                .buttonOutlineText= text
    else
        .buttonOutline
            +svgButtonIcon(icon)
            if text
                .buttonOutlineText= text
