extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .cabinet.patternBG
        .knifeBG
        .cabinetWrap
            include block/cabinet/cabinetHeader
            include block/cabinet/cabinetTabMenu
            include block/cabinet/cabinetTab1
            include block/cabinet/cabinetTab2
            include block/cabinet/cabinetTab3
    include block/lk
    include block/partner
    include block/footer
