extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/cart/cartHeader
            include block/cart/cartItems
    include block/partner
    include block/footer
