extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
        include block/feedback/feedbackPopup
        include block/contact/contactPopup
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            .contact
                .breadcrumb
                    .breadcrumbItem
                        a(href="#") Главная
                    .breadcrumbItem
                        | Личный кабинет
                .feedbackHeader
                    h1 Контактная информация
            .contactBlock
                .contactBlockText
                    .contactBlockTextWrap
                        .contactBlockTextBorder
                            .contactBlockTextItem
                                | Телефон:
                                span.hangy +7 (391) 290-40-40,  280-40-40
                            .contactBlockTextItem
                                | Адрес:
                                span Россия, г. Красноярск, пр. Мира, д. 111
                            .contactBlockTextItem
                                | Почта:
                                a(href="mailto:ratatuy@bar10.ru") ratatuy@bar10.ru
                            .contactBlockTextItem
                                | Время работы::
                                span Ежедневно с 10:00 до 20:00
                            .contactBlockTextItem
                                button.buttonYellow.js-contactPopup
                                    .buttonYellowText Написать письмо
                .contactBlockMap
    include block/partner
    include block/footer
