extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
        include block/feedback/feedbackPopup
    include block/feedback/feedbackFull
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/feedback/feedbackHeader
            include block/feedback/feedbackItems
            include block/pagginator
    include block/partner
    include block/footer
