extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
        include block/feedback/feedbackPopup
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        include block/gift/giftBanner
        .contentPageWrap
            include block/gift/giftItems
    include block/partner
    include block/footer
