extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/cart/cartAdd
    include block/promo
    include block/shedule
    include block/video
    include block/feedback/feedbackPromo
    include block/gallery
    include block/partner
    include block/footer
