extends _layout
mixin lessonDay(date, mounth, time, studio,text)
    .lessonCalendarWeekDay
        .lessonCalendarWeekDayHeader
            =date
            |&nbsp
            span=mounth
        .lessonCalendarWeekDayBody
            .lessonCalendarItem
                .lessonCalendarItemDate
                    .lessonCalendarItemTime= time
                    .lessonCalendarItemClass
                        if studio = 'bottle'
                            .lessonCalendarItemBottle
                .lessonCalendarItemName= text

                .lessonCalendarItemPresenter
                    .lessonCalendarItemPresenterPhoto
                        img(src="img/avatar01.jpg", alt="")
                    .lessonCalendarItemPresenterName
                        | Шеф повар:
                        a(href="#") Евгений Баранников
                .lessonCalendarItemButton
                    button.buttonLessonSubmit
                        .buttonLessonSubmitText Хочу пойти
mixin lessonDayDouble(date, mounth, time, studio,text)
    .lessonCalendarWeekDay
        .lessonCalendarWeekDayHeader
            =date
            |&nbsp
            span=mounth
        .lessonCalendarWeekDayBody
            .lessonCalendarItem
                .lessonCalendarItemDate
                    .lessonCalendarItemTime= time
                    .lessonCalendarItemClass
                        if studio = 'bottle'
                            .lessonCalendarItemBottle
                .lessonCalendarItemName= text

                .lessonCalendarItemPresenter
                    .lessonCalendarItemPresenterPhoto
                        img(src="img/avatar01.jpg", alt="")
                    .lessonCalendarItemPresenterName
                        | Шеф повар:
                        a(href="#") Евгений Баранников
                .lessonCalendarItemButton
                    button.buttonLessonSubmit
                        .buttonLessonSubmitText Хочу пойти
            .lessonCalendarItem
                .lessonCalendarItemDate
                    .lessonCalendarItemTime= time
                    .lessonCalendarItemClass
                        if studio = 'bottle'
                            .lessonCalendarItemPovar
                .lessonCalendarItemName= text

                .lessonCalendarItemPresenter
                    .lessonCalendarItemPresenterPhoto
                        img(src="img/avatar01.jpg", alt="")
                    .lessonCalendarItemPresenterName
                        | Шеф повар:
                        a(href="#") Евгений Баранников
                .lessonCalendarItemButton
                    button.buttonLessonSubmit
                        .buttonLessonSubmitText Хочу пойти
mixin lessonDayEmpty(date, mounth, time, studio,text)
    .lessonCalendarWeekDay
        .lessonCalendarWeekDayHeader
            =date
            |&nbsp
            span=mounth
        .lessonCalendarWeekDayBody
            .lessonCalendarWeekDayEmpty
                | Нет занятий в этот день
block content
    .overley
        include block/login
        include block/recovery
        include block/registration
        include block/feedback/feedbackPopup
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/lesson/lessonHeader
            .lessonCalendar
                .lessonCalendarFilter
                    .lessonCalendarFilterMount
                        .lessonCalendarFilterMountPrev
                            a(href="#")
                        .lessonCalendarFilterMountName
                            | Октябрь 2015
                        .lessonCalendarFilterMountNext
                            a(href="#")
                    .lessonCalendarFilterStudio
                        .lessonCalendarFilterStudioBottle
                            a(href="#") Винная</br>школа
                        .lessonCalendarFilterStudioPovar
                            a(href="#") Кулинарная</br> студия
                .lessonCalendarWeek
                    +lessonDay('28,Пн', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDayDouble('29,Вт', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('30,Ср', 'Сентября','13:00', 'bottle', 'День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.')
                    +lessonDay('28,Пн', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('29,Вт', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('30,Ср', 'Сентября','13:00', 'bottle', 'День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.')
                    +lessonDayEmpty('30,Ср', 'Сентября','13:00', 'bottle', 'День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.')
                .lessonCalendarWeek
                    +lessonDay('28,Пн', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('29,Вт', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('30,Ср', 'Сентября','13:00', 'bottle', 'День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.')
                    +lessonDay('28,Пн', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('29,Вт', 'Сентября','13:00', 'bottle', 'Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.')
                    +lessonDay('30,Ср', 'Сентября','13:00', 'bottle', 'День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.')
                    +lessonDayEmpty('30,Ср', 'Сентября','13:00', 'bottle', 'День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.')

    include block/partner
    include block/footer
