extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
        include block/feedback/feedbackPopup
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/lesson/lessonHeader
            .lessonSidebar
                include block/lesson/lessonFilter
                img(src="img/ads02.jpg", alt="")
            .lessonListItems
                include block/lesson/lessonItems
                include block/pagginator
    include block/partner
    include block/footer
