extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
        include block/feedback/feedbackPopup
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/lesson/lessonHeaderBack
            include block/lesson/lessonBlock
            include block/presenter/presenterShedule
    include block/partner
    include block/footer
