extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/order/orderHeader
            .order
                include block/order/orderForm
                include block/order/orderComplite
    include block/partner
    include block/footer
