extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            .breadcrumb
                .breadcrumbItem
                    a(href="#") Главная
                .breadcrumbItem
                    | Личный кабинет
            .page
                .pageHeader
                    h1 Заголовок первого уровня
                .pageBody
                    p
                        | По многочисленным просьбам наших&nbsp
                        b гостей мы рады&nbsp
                        | предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «
                        a(href="#") Быстрый обед
                        | »&nbsp мы каждый раз будем учиться готовить что-нибудь новенькое,&nbsp
                        strong несложное, но очень&nbsp
                        | аппетитное, всего час – и паста с курицей и пармезаном готова!
                    p
                        img(src="img/image-1.jpg", alt="")
                        | По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «Быстрый обед» мы каждый раз будем учиться готовить что-нибудь новенькое, несложное, но очень аппетитное, всего час – и паста с курицей и пармезаном готова! В то время как, например, ваш ребенок будет постигать азы игры на фортепиано, вы сможете не просто ожидать окончания его занятия, а развивать собственный кулинарный талант в нашей Студии, и не раз потом слышать от родных и близких восторженный вопрос: «Когда ты только все успеваешь?»
                    h2 Заголовок второго уровня
                    p
                        | Во Франции все праздники начинаются или заканчиваются хорошим угощением. С давних времен, когда питались в основном кашей и хлебом с салом, по торжественным поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
                        ul
                            li Салат из спаржи и маринованных артишоков
                            ul
                                li кулинарный курс
                                li «Изысканная французская кухня»
                            li Свиное филе миньон с горчичным соусом и пикантными грушами
                            li Сливочный мусс с мандаринами
                    p
                        | Во Франции все праздники начинаются или заканчиваются хорошим угощением. С давних времен, когда питались в основном кашей и хлебом с салом, по торжественным поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
                        ol
                            li Салат из спаржи и маринованных артишоков
                            ol
                                li кулинарный курс
                                li «Изысканная французская кухня»
                            li Свиное филе миньон с горчичным соусом и пикантными грушами
                            li Сливочный мусс с мандаринами
                    h3 Заголовок третьего уровня
                    p
                        | Поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
                        blockquote
                            span
                                span По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой.
                    h4 Заголовок третьего уровня
                    form
                        label.labelDark Input
                        input.inputDark
                        label.labelDark
                            | Input&nbsp
                            span *
                        input.inputDark.inputDarkError
                        label.labelDark Select
                        select.selectric
                            option Пункт 1
                            option Пункт 2
                            option Пункт 3
                            option Пункт 4
                        label.labelDark Textarea
                        textarea.textarea
                        label.labelDarkCheckbox
                            input(type="radio")
                            | Radio
                        label.labelDarkCheckbox
                            input(type="checkbox").iCheck
                            | Checkbox
                        label.labelDark Button Yellow
                        button.buttonYellow
                            .buttonYellowText Кнопка
                        label.labelDark Button Yellow
                        button.buttonOhra
                            .buttonOhraText Кнопка
                        table
                            thead
                                tr
                                    td Дата
                                    td Название мероприятия
                                    td Кто ведет
                            tbody
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений

            .sidebar
                .sidebarHeader Ближайшее мероприятие
                .sidebarImage
                    a(href="#")
                        img(src="img/ads01.jpg")
    include block/partner
    include block/footer
