extends _layout

block content
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/photo/photoHeader
            include block/photo/photoGallery
            include block/pagginator

    include block/partner
    include block/footer
