extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/presenters/presentersHeader
            include block/presenters/presentersItems
            include block/pagginator

    include block/partner
    include block/footer
