extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            include block/presenter/presenterHeader
            include block/presenter/presenterBio
            include block/presenter/presenterShedule
    include block/partner
    include block/footer
