.recovery
    display none
    position relative
    width 100%
    height 100%
    left 0
    right 0
    margin-left 50px
    &Wrap
        display block
        width 410px
        height 500px
        abs_center()
        background-repeat no-repeat
        background-position top 125px right
        background-image inline('formBG.png')
        sf()
    &Show
        display block
.recoveryClose
    display block
    position absolute
    right 0
    top 2px

.recoveryHeader
    display block
    ff(hangy,3.0,3.0)
    color #fff
    margin-bottom 30px

.recoveryFormItem
    display block
    margin-bottom 18px
    padding-right 100px
    sf()
    &Column
        span(1/2)
        padding 7px 0px
        text-align center
    a
        color #FEF27D
        ff(din,1.7)
        &:hover
            text-decoration none
            color #ef9801
    p
        ff(din,1.4,2.0)
        color #fff
        text-align center
        span
            ff(din,2.0,2.0)
            color #FF5E5E
    &Center
        text-align center
        padding-right 100px
