.orderComplite
    display none
    position absolute
    top 0
    width 100%
    height 386px
    bg()
    background-image url('../img/orderCompliteBG.png')
    sf()

.orderCompliteWrap
    display block
    width 755px
    height 215px
    abs_center()
    border 2px solid #fff
    sf()
.orderCompliteBorder
    display block
    width 747px
    height 207px
    abs_center()
    padding 30px 50px
    border 2px solid #fff
    sf()
.orderCompliteHeader
    display block
    text-align center
    ff(hangy,5)
    margin-bottom 20px
    color #fff
    sf()

.orderCompliteText
    display block
    ff(hangy,3)
    text-align center
    color #d1cdab
    sf()
