.partner
    display block
    padding-top 20px
    margin-bottom 30px
    sf()

.partnerWrap
    center(1200px)
    padding 0 40px

.partnerHeader
    display block
    text-align center
    margin-bottom 10px
    span
        display inline-block
        position relative
        vertical-align middle
        ff(hangy,5)
        text-transform uppercase
        color #57585B
        padding 0 40px
        margin-left 20px
        &:after
            content ""
            display block
            top 8px
            left -20px
            position absolute
            width 39px
            height 28px
            bg()
            background-image inline("iconBant.png")
        &:before
            content ""
            display block
            top 8px
            right -20px
            position absolute
            width 39px
            height 28px
            bg()
            background-image inline("iconBant.png")
.partnerText
    color #434343
    ff(din,1.5)
    text-align center
    padding 0 280px
    margin-bottom 20px
.partnerSliderWrap
    width 1000px
    margin 0 auto
.partnerSlider
    display block
    img
        display inline-block
        vertical-align middle
    .partnerSliderItem
        display block
        height 150px
        width 150px
        margin-right 20px
        bg()
        background-image none

.partnerSlider
    .slick-prev,
    .slick-next
        font-size 0
        line-height 0
        position absolute
        top 40%
        left 50%
        right 50%
        display block
        width 60px
        height 60px
        margin-top -10px
        background-color transparent
        padding 0
        cursor pointer
        color transparent
        border none
        outline none
        z-index 2000

    .slick-prev
        margin-left -560px
        bg()
        background-image inline("iconSlickSheduleLeft.png")
        &:hover
            background-image inline("iconSlickSheduleLeftActive.png")
    .slick-next
        margin-left 500px
        bg()
        background-image inline("iconSlickSheduleRight.png")
        &:hover
            background-image inline("iconSlickSheduleRightActive.png")
