.lessonCalendar
    display block
    sf()

.lessonCalendarWeek
    display inline-block
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    background-color rgba(1, 1, 1, 0.3)
    margin-bottom 40px
    sf()

.lessonCalendarWeekDay
    display block
    float left
    margin-right 2px
    width 156px
    position relative
    background-color #FFF
    //transition all .5s
    &:last-child
        margin-right 0px
    &:after
        content ""
        display block
        top -14px
        left 14px
        position absolute
        width 7px
        height 21px
        bg()
        background-image inline("blockScrepaSmall.png")
    &:before
        content ""
        display block
        top -14px
        right 14px
        position absolute
        width 7px
        height 21px
        z-index 100
        bg()
        background-image inline("blockScrepaSmall.png")
    &:hover
        box-shadow 0px 0 15px rgba(1, 1, 1, 0.3)
        z-index 1000
.lessonCalendarWeekDayHeader
    display block
    position relative
    background-color #e1d8b4
    height 40px
    padding 11px
    ff(hangy,2.2)
    color #000
    span
        color #535353
        ff(hangy,1.5)
    &:after
        content ""
        display block
        position absolute
        width 137px
        height 3px
        bottom -2px
        left 9px
        bg()
        background-image inline("lessonDayHaderBG.png")
.lessonCalendarWeekDayBody
    sf()
.lessonCalendarItem
    display block
    position relative
    padding 5px 8px
    margin-bottom 20px
    cursor default
    sf()
    &:hover
        .lessonCalendarItemName
            color #c68700
.lessonCalendarItemDate
    display block
    margin-bottom 5px
    sf()
.lessonCalendarItemTime
    display block
    float left
    padding-left 30px
    margin-top 10px
    bg(left)
    background-image inline("iconClock.png")
    color #212121
    ff(hangy,2.8)
    sf()

.lessonCalendarItemBottle
    display block
    float right
    width 22px
    height 39px
    bg()
    background-image inline("iconBottle.png")
    sf()

.lessonCalendarItemPovar
    display block
    float right
    width 29px
    height 39px
    bg()
    background-image inline("iconPovar.png")
    sf()
.lessonCalendarItemName
    display block
    color #212121
    ff(din,1.4,1.8)
    margin-bottom 10px
    transition all .5s
    sf()
.lessonCalendarItemPresenter
    display block
    margin-bottom 14px
    sf()

.lessonCalendarItemPresenterPhoto
    display table-cell
    width 48px
    height 48px
    img
        width 48px
        height 48px
        border-radius 24px

.lessonCalendarItemPresenterName
    display table-cell
    vertical-align top
    padding-left 5px
    color #4d4d4d
    ff(din,1.2,1.6)
    a
        display block
        color #914400

.buttonLessonSubmit
    display block
    height 40px
    width 100%
    bg(bottom)
    background-image inline("iconGo.png")
    background-color #fef27d
    transition background-color .5s
    text-align center
    outline 0
    border 0
    sf()
    &Text
        display inline-block
        position relative
        color #723500
        ff(hangy,1.7)
        padding 0 15px
        &:after
            content ""
            display block
            top 6px
            left -2px
            position absolute
            width 9px
            height 7px
            bg()
            background-image inline("iconSmallestBant.png")
        &:before
            content ""
            display block
            top 6px
            right -2px
            position absolute
            width 9px
            height 7px
            bg()
            background-image inline("iconSmallestBant.png")
    &:hover
        background-color #fff6a3
        .buttonLessonSubmitText
            color #343221
            &:after, &:before
                background-image inline("iconSmallestBant.png")
    &:active
        background-color #b4ad6b
        bg(top)
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")

.lessonCalendarWeekDay
    &:nth-child(2),&:nth-child(6)
        .lessonCalendarItemButton
            .buttonLessonSubmit
                background-color #484848
                .buttonLessonSubmitText
                    color #fff37e
                    &:after, &:before
                        background-image inline("iconSmallestBantWhite.png")
                &:hover
                    background-color #6a6a6a
                &:active
                    background-color #3a3a3a
    &:nth-child(3),&:nth-child(7)
        .lessonCalendarItemButton
            .buttonLessonSubmit
                background-color #e8d6ad
                .buttonLessonSubmitText
                    color #4c2502
                    &:after, &:before
                        background-image inline("iconSmallestBant.png")
                &:hover
                    background-color #fff6c7
                &:active
                    background-color #d5c091

    &:nth-child(4)
        .lessonCalendarItemButton
            .buttonLessonSubmit
                background-color #a6a178
                .buttonLessonSubmitText
                    color #fff37e
                    &:after, &:before
                        background-image inline("iconSmallestBantWhite.png")
                &:hover
                    background-color #c2bc8c
                &:active
                    background-color #8d8966
.lessonCalendarWeekDayEmpty
    color #acacac
    text-align center
    ff(hangy,3)
    width 93px
    height 126px
    abs_center()

.lessonCalendarFilter
    display block
    margin-bottom 20px
    sf()
.lessonCalendarFilterMount
    display block
    float left
    sf()
.lessonCalendarFilterMountName
    display inline-block
    vertical-align top
    ff(hangy,3.4,4.8)
    color #2b2b2b
    padding 0 20px
    sf()
.lessonCalendarFilterMountPrev
    display inline-block
    a
        display inline-block
        width 44px
        height 44px
        bg()
        background-image inline("iconSlickSheduleLeft.png")
        &:hover
            background-image inline("iconSlickSheduleLeftActive.png")
.lessonCalendarFilterMountNext
    display inline-block
    a
        display inline-block
        width 44px
        height 44px
        bg()
        background-image inline("iconSlickSheduleRight.png")
        &:hover
            background-image inline("iconSlickSheduleRightActive.png")

.lessonCalendarFilterStudio
    display block
    float right
    sf()
.lessonCalendarFilterStudioBottle
    display inline-block
    margin-right 20px
    sf()
    a
        display block
        float right
        height 39px
        bg(left)
        ff(din,1.6,1.8)
        color #313131
        text-decoration none
        padding-left 30px
        background-image inline("iconBottle.png")
        sf()

.lessonCalendarFilterStudioPovar
    display inline-block
    sf()
    a
        display block
        float right
        ff(din,1.6,1.8)
        color #313131
        text-decoration none
        height 39px
        bg(left)
        padding-left 35px
        background-image inline("iconPovar.png")
        sf()
