.sidebar
    display block
    float left
    width 262px
    padding-top 71px
    sf()

.sidebarHeader
    display block
    ff(hangy,4)
    text-transform uppercase
    color #57585b
    margin-bottom 20px

.sidebarImage
    display block
    text-align right
    sf()
