.checkbox
    display inline-block
    vertical-align bottom
    color #666
    ff(normal,1.4,2)
    input
        display inline-block
        vertical-align middle
        margin-right 10px
        height 20px

.inlineLabel
    display inline-block
    vertical-align bottom
    color #666
    ff(normal,1.4,2)

.label
    display block
    ff(din,1.7,2.0)
    color #fff
    margin-bottom 10px
    span
        ff(din,2.0,2.0)
        color #FF5E5E

.labelDark
    display block
    ff(din,1.7,2.0)
    color #5e5e5e
    margin-bottom 10px
    span
        ff(din,2.0,2.0)
        color #FF5E5E

.labelDarkCheckbox
    display block
    vertical-align middle
    ff(din,1.7,2.4)
    color #5e5e5e
    margin-bottom 10px
    span
        ff(din,2.0,2.0)
        color #FF5E5E
