.shedule
    display block
    margin-top -30px
    width 100%
    background-image url("../img/sheduleBG.jpg")
    height 567px
    sf()

.sheduleWrap
    center(1200px)

.sheduleLeft
    display block
    position relative
    float left
    width 880px
    sf()

.sheduleRight
    display block
    float left
    width 320px
    text-align right
    margin-top 75px
    padding-right 40px
    sf()

.sheduleSliderHeader
    display block
    margin-top 75px
    margin-bottom 10px
    width 100%
    &Left
        display inline-block
        position relative
        vertical-align middle
        ff(hangy,5)
        text-transform uppercase
        color #57585B
        padding 0 40px
        margin-left 20px
        &:after
            content ""
            display block
            top 8px
            left -20px
            position absolute
            width 39px
            height 28px
            bg()
            background-image inline("iconBant.png")
        &:before
            content ""
            display block
            top 8px
            right -20px
            position absolute
            width 39px
            height 28px
            bg()
            background-image inline("iconBant.png")
    &Right
        display inline-block
        margin-left 140px
        vertical-align middle
        a
            display inline-block
            vertical-align middle
            color #914400
            ff(din,1.5,5)
            &:hover
                color #C68700
                text-decoration none
.sheduleSlideBlockWrap
    display block
    position relative
    margin-left -15px
    sf()
.sheduleSlideBlockShadow
    display block
    position absolute
    top 16px
    width 894px
    height 359px
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
.sheduleSlideBlock
    display block
    position relative
    padding 0 15px 15px
.sheduleSlide
    display block
    float left
    position relative
    margin-right 2px
    width 207px
    //height 359px
    //height 358px
    margin-top 16px
    padding-top 39px
    background-color #FFF
    cursor default
    transition all .5s
    &:hover
        z-index 100
        //box-shadow 0 0 15px rgba(1, 1, 1, 0.3)
    &:after
        content ""
        display block
        top -14px
        left 14px
        position absolute
        width 14px
        height 43px
        bg()
        background-image inline("blockScrepa.png")
    &:before
        content ""
        display block
        top -14px
        right 14px
        position absolute
        width 14px
        height 43px
        bg()
        background-image inline("blockScrepa.png")
    &Top
        display block
        bg(bottom)
        background-image inline("sheduleTopBorder.png")
        padding 0 12px 10px 12px
        sf()
        &Date
            display block
            float left
            margin-right 30px
            ff(hangy,2.4)
            color #000
            span
                display block
                color #535353
                ff(hangy,1.5)
        &Time
            display block
            float left
            padding-left 30px
            bg(left)
            background-image inline("iconClock.png")
            color #212121
            ff(hangy,2.8)

.sheduleSlideContent
    display block
    padding-top 11px
    padding-right 10px
    height 130px
    sf()
    &Bottle
        display table-cell
        bg(top)
        width 50px
        background-image inline("iconBottle.png")
    &Povar
        display table-cell
        bg(top)
        width 50px
        background-image inline("iconPovar.png")
    &Text
        display table-cell
        ff(din,1.6,1.8)
        color #212121
        a
            color #212121
            text-decoration none
            &:hover
                color #C68700
.sheduleSlidePovar
    display block
    background-color #f2f2f2
    padding 12px 0
    &Avatar
        display table-cell
        width 82px
        text-align center
        img
            display inline-block
            width 65px
            height 65px
            border-radius 50%
    &Text
        display table-cell
        vertical-align top
        padding-top 10px
        color #4D4D4D
        ff(din,1.5,1.8)
        a
            color #914400
            text-decoration none
            &:hover
                color #C68700
.sheduleSlideButton
    display block
    height 50px
    width 100%
    bg(bottom)
    background-image inline("iconGo.png")
    background-color #fef27d
    transition background-color .5s
    text-align center
    outline 0
    border 0
    sf()
    &Text
        display inline-block
        position relative
        color #723500
        ff(hangy,2.2)
        padding 0 15px
        &:after
            content ""
            display block
            top 4px
            left -10px
            position absolute
            width 19px
            height 14px
            bg()
            background-image inline("iconSmallBant.png")
        &:before
            content ""
            display block
            top 4px
            right -10px
            position absolute
            width 19px
            height 14px
            bg()
            background-image inline("iconSmallBant.png")
    &:hover
        background-color #fff6a3
        .sheduleSlideButtonText
            color #343221
            &:after, &:before
                background-image inline("iconSmallBantGrey.png")
    &:active
        background-color #b4ad6b
        bg(top)
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")

.sheduleSlideButtonGrey
    background-color #484848
    background-image inline("iconGoBrown.png")
    .sheduleSlideButtonText
        color #fff37e
        &:after
            background-image inline("iconSmallBantWhite.png")
        &:before
            background-image inline("iconSmallBantWhite.png")
    &:hover
        background-color #6a6a6a
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")
    &:active
        background-color #3a3a3a
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")


.sheduleSlideButtonCoffe
    background-color #e8d6ad
    background-image inline("iconGoBrown.png")
    .sheduleSlideButtonText
        color #4C2502
        &:after
            background-image inline("iconSmallBant.png")
        &:before
            background-image inline("iconSmallBant.png")
    &:hover
        background-color #fff6c7
        .sheduleSlideButtonText
            color #4C2502
            &:after, &:before
                background-image inline("iconSmallBant.png")
    &:active
        background-color #d5c091
        .sheduleSlideButtonText
            color #4C2502
            &:after, &:before
                background-image inline("iconSmallBant.png")

.sheduleSlideButtonOlive
    background-color #a6a178
    background-image inline("iconGoBrown.png")
    .sheduleSlideButtonText
        color #FFF37E
        &:after
            background-image inline("iconSmallBantWhite.png")
        &:before
            background-image inline("iconSmallBantWhite.png")
    &:hover
        background-color #c2bc8c
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")
    &:active
        background-color #8d8966
        .sheduleSlideButtonText
            color #fff
            &:after, &:before
                background-image inline("iconSmallBantWhite.png")


.sheduleSliders
    position relative
    .slick-prev,
    .slick-next
        font-size 0
        line-height 0
        position absolute
        top -45px
        left 780px
        display block
        width 44px
        height 44px
        margin-top -10px
        background-color transparent
        padding 0
        cursor pointer
        color transparent
        border none
        outline none
        z-index 2000

    .slick-prev
        margin-left -25px
        bg()
        background-image inline("iconSlickSheduleLeft.png")
        &:hover
            background-image inline("iconSlickSheduleLeftActive.png")
    .slick-next
        margin-left 25px
        bg()
        background-image inline("iconSlickSheduleRight.png")
        &:hover
            background-image inline("iconSlickSheduleRightActive.png")



    .slick-prev:hover,
    .slick-next:hover,
        outline none
        opacity 1
    .slick-disabled
        opacity: .25
        &:hover
            opacity: .25
    .slick-prev.slick-disabled
        background-image inline("iconSlickSheduleLeft.png") !important
    .slick-next.slick-disabled
        background-image inline("iconSlickSheduleRight.png") !important
.slideShadow
    position absolute
    display block
    z-index 50
    box-shadow 0 0 15px rgba(1, 1, 1, 0.3)
