.photoGallery
    display block
    padding 30px
    background-color #FFF
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    margin-bottom 40px
    sf()
.photoGalleryHeader
    display block
    ff(hangy,3.6)
    color #242425
    margin-bottom 20px
    sf()
.photoGalleryItems
    img
        margin-right 16px
        margin-bottom 16px
        border 10px solid #fff
        box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
        &:nth-child(5n)
            margin-right 0px
