.feedbackPromo
    display block
    width 100%
    bg(top)
    background-size cover
    background-image url("../img/feedbackBG.jpg")
    // height 537px
    padding-bottom 30px
    sf()

.feedbackPromoWrap
    center(1200px)


.feedbackPromoHeader
    span(1/4)
    ff(hangy,5)
    text-transform uppercase
    color #fff
    text-align right
    padding-top 200px
    padding-right 37px
    span
        display inline-block
        position relative
        &:before
            display block
            position absolute
            top 5px
            left -50px
            content ""
            width 91px
            height 33px
            bg()
            background-image inline("iconGlass.png")
.feedbackPromoItems
    span(3/4)
    padding-top 55px
.feedbackPromoSliderWrap
    display block
    margin-right 40px
    box-shadow 0 5px 20px rgba(1, 1, 1, 0.4)
    sf()
.feedbackPromoSlider
    display block
    sf()
.feedbackPromoSlide
    display block
    background-color #FFF
    height 372px
    sf()
    &Image
        display block
        float left
        padding 15px
        margin-right 15px
        sf()
        img
            display block
            height 342px
.feedbackPromoSlideText
    display table-cell
    padding-top 20px
    padding-right 40px
    sf()
    &Header
        color #090909
        ff(hangy,2.8)
        margin-bottom 5px
    &SubHeader
        color #3F3F3F
        ff(hangy,2.0)
        margin-bottom 10px
    &Body
        color #636363
        ff(din,1.7)

.feedbackPromoSlider
    .slick-prev,
    .slick-next
        font-size 0
        line-height 0
        position absolute
        top 25px
        left 770px
        display block
        width 44px
        height 44px
        margin-top -10px
        background-color transparent
        padding 0
        cursor pointer
        color transparent
        border none
        outline none
        z-index 2000

    .slick-prev
        margin-left -25px
        bg()
        background-image inline("iconSlickSheduleLeft.png")
        &:hover
            background-image inline("iconSlickSheduleLeftActive.png")
    .slick-next
        margin-left 25px
        bg()
        background-image inline("iconSlickSheduleRight.png")
        &:hover
            background-image inline("iconSlickSheduleRightActive.png")
    .slick-prev:hover,
    .slick-next:hover,
        outline none
        opacity 1
