.photoList
    display block
    margin-bottom 40px
    sf()
.photoListRow
    display block
    sf()
.photoListItem
    display block
    width 261px
    float left
    margin-right 20px
    margin-bottom 20px
    sf()
    &:nth-child(4n)
        margin-right 0px
    a
        text-decoration none
    &:hover
        .photoListItemName
            color #c68700
        .photoListItemPhoto
            img
                transform scale(1.1)
.photoListItemPhoto
    display block
    height 200px
    overflow hidden
    sf()
    img
        height 100%
        transition all .5s
.photoListItemName
    display block
    padding 19px
    background-color #FFF
    ff(din,2.0)
    color #111
    text-decoration none
    bg(bottom)
    background-image inline("sheduleBottomBorder.png")
    transition all .5s
    sf()

.photoListItemFooter
    display block
    background-image inline("presenterSheduleClockBG.png")
    height 64px
    bg(bottom)
    padding 0 10px 0 20px
    sf()
.photoListItemFooterDate
    display block
    margin-top 20px
    float left
    color #535353
    ff(hangy,2)
    sf()
.photoListItemFooterNumber
    display block
    float right
    padding-left 66px
    height 49px
    ff(hangy,2.4,5.9)
    color #878047
    bg()
    background-image inline("iconPhotos.png")
