.promo
    display block
    position relative
    overflow hidden
    height 790px
    margin-top -80px
    left 0
    sf()

.promoSlide
    display block
    position relative
    sf()
    &Image
        display block
        position relative
        top 0
        left 0
        width 100%
        bg()
        background-size cover
        background-image url("../img/bannerBG.jpg")
        height 790px
        z-index 10
        sf()
    &Filter
        display block
        position relative
        background-color #ef9801
        opacity .15
        width 100%
        height 790px
        z-index 20
        top 0
        left 0
    &FilterTwo
        display block
        position absolute
        background-color #000000
        opacity .5
        width 100%
        height 790px
        top 0
        left 0
        z-index 30
.promoSlideText
    display block
    position absolute
    z-index 200
    left 0
    right 0
    margin 0 auto
    top 45%
    &Icon
        display block
        width 56px
        height 50px
        left 0
        right 0
        margin 0 auto
        bg()
        background-image inline("iconPromoHeaderCenter.png")
    &Header
        display block
        text-align center
        span
            display inline-block
            position relative
            width auto
            ff(hangy,6)
            color #FFF37E
            text-align center
            &:before
                display block
                position absolute
                content ""
                left -40px
                width 20px
                height 55px
                bg()
                background-image inline("iconPromoHeaderLeft.png")
            &:after
                display block
                position absolute
                content ""
                top 0
                right -40px
                width 20px
                height 55px
                bg()
                background-image inline("iconPromoHeaderRight.png")
    &Body
        text-align center
        ff(din,2.4)
        font-weight bold
        color #fff
