.footer
    .footerWrap
        .footerMenu
            .footerMenuItems
                .footerMenuItem
                    a(href="#") О школе “Рататуй”
                .footerMenuItem
                    a(href="#") Расписание
                .footerMenuItem
                    a(href="#") Винный клуб
                .footerMenuItem
                    a(href="#") Подарочные сертификаты
                .footerMenuItem
                    a(href="#") Корпоративы и праздники
                .footerMenuItem
                    a(href="#") Контакты
        .footerContacts
            .footerLogo
            .footerCopyright
                | © 2015 “Рататуй”  кулинарная студия.</br> Все права защищены, при любом копировании </br>материалов сылка на сайт источникобязательна.
            .footerPhone
                | +7 (391)
                span  290-40-40
                .footerPhoneLinks
                    | Росcия, г. Красноярск, пр. Мира, д. 111
            .footerSocial
                .footerSocialVK
                    a(href="#")
                .footerSocialFB
                    a(href="#")
                .footerSocialIN
                    a(href="#")
            .footerStudio
                a(href="#")
