.gallery
    .gallerySlider
        .gallerySlide
            img(src="img/gal01.jpg", alt="")
        .gallerySlide
            img(src="img/gal02.jpg", alt="")
        .gallerySlide
            img(src="img/gal01.jpg", alt="")
        .gallerySlide
            img(src="img/gal02.jpg", alt="")
        .gallerySlide
            .gallerySlideTop
                img(src="img/gal03.jpg", alt="")
                img(src="img/gal04.jpg", alt="")
            .gallerySlideBottom
                img(src="img/gal05.jpg", alt="")
        .gallerySlide
            img(src="img/gal06.jpg", alt="")
        .gallerySlide
            img(src="img/gal07.jpg", alt="")
        .gallerySlide
            img(src="img/gal01.jpg", alt="")
        .gallerySlide
            img(src="img/gal02.jpg", alt="")
        .gallerySlide
            .gallerySlideTop
                img(src="img/gal03.jpg", alt="")
                img(src="img/gal04.jpg", alt="")
            .gallerySlideBottom
                img(src="img/gal05.jpg", alt="")
        .gallerySlide
            img(src="img/gal06.jpg", alt="")
        .gallerySlide
            img(src="img/gal07.jpg", alt="")
        .gallerySlide
            img(src="img/gal01.jpg", alt="")
        .gallerySlide
            img(src="img/gal02.jpg", alt="")
        .gallerySlide
            .gallerySlideTop
                img(src="img/gal03.jpg", alt="")
                img(src="img/gal04.jpg", alt="")
            .gallerySlideBottom
                img(src="img/gal05.jpg", alt="")
        .gallerySlide
            img(src="img/gal06.jpg", alt="")
        .gallerySlide
            img(src="img/gal07.jpg", alt="")
