.headerType
    .headerFilter
    .header
        .headerLogo
        .headerSocial
            .headerSocialVK
                a(href="#")
            .headerSocialFB
                a(href="#")
            .headerSocialIN
                a(href="#")
        .headerPhone
            | +7 (391)
            span  290-40-40
            .headerLogin
                .headerLoginName
                    | Александр Старообрядцевский
                .headerLoginControl
                    a(href="#") Личный кабинет
                    a(href="#").iconLogout Выход
        .headerCart
            .headerCartIcon
            .headerCartText
                .headerCartTextTop
                    | В вашей&nbsp
                    a(href="#") корзине
                    | :
                .headerCartTextBottom
                    b 2 товара&nbsp
                    | на сумму&nbsp
                    b 1 500 Р
    .menu
        .menuWrap
            .menuItems
                .menuItem
                    a(href="#") О школе “Рататуй”
                    .menuItemDropdown
                        .menuItemDropdownItem
                            a(href="#") Информация о школе
                        .menuItemDropdownItem
                            a(href="#") Фотоотчеты событий
                        .menuItemDropdownItem
                            a(href="#") Ведущие мероприятий
                .menuItem
                    a(href="#") Расписание
                    .menuItemDropdown
                        .menuItemDropdownItem
                            a(href="#") Информация о школе
                        .menuItemDropdownItem
                            a(href="#") Фотоотчеты событий
                        .menuItemDropdownItem
                            a(href="#") Ведущие мероприятий
                .menuItem
                    a(href="#") Винный клуб
                .menuItem
                    a(href="#") Подарочные сертификаты
                .menuItem
                    a(href="#") Корпоративы и праздники
                .menuItem
                    a(href="#") Контакты
