.login
    .loginWrap
        .loginClose
            button.buttonClose.js-closeoverlay
        .loginHeader
            | Вход в личный кабинет
        .loginForm
            .loginFormItem
                label.label
                    | Логин&nbsp
                    span *
                input.input
            .loginFormItem
                label.label
                    | Пароль&nbsp
                    span *
                input.input
            .loginFormItem
                .loginFormItemColumn
                    a(href="#").js-recoveryswith Забыли пароль?
                .loginFormItemColumn
                    a(href="#").js-registrationswith Регистрация
            .loginFormItem
                p
                    | Поля, помеченные специальным знаком&nbsp
                    span *&nbsp
                    | — </br> обязательны для заполнения
            .loginFormItemCenter
                button.buttonYellow
                    .buttonYellowText Войти
