.pagginator
    .pagginatorWrap
        .pagginatorPrev
            a(href="#") Назад
        .pagginatorNav
            a(href="#").pagginatorNavActive 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5
            a(href="#") 6
        .pagginatorNext
            a(href="#") Далее
