.partner
    .partnerWrap
        .partnerHeader
            span Наши партнеры
        .partnerText
            | Осваивая новые проекты, мы не забываем про уже давно и успешно работающие заведения. Постоянное внимание и нововведения позволяют им оставаться актуальными и популярными среди огромного количества гостей!
        .partnerSliderWrap
            .partnerSlider
                .partnerSliderItem(style="background-image: url('img/part01.png')")
                .partnerSliderItem(style="background-image: url('img/part02.png')")
                .partnerSliderItem(style="background-image: url('img/part03.png')")
                .partnerSliderItem(style="background-image: url('img/part04.png')")
                .partnerSliderItem(style="background-image: url('img/part05.png')")
                .partnerSliderItem(style="background-image: url('img/part06.png')")
                .partnerSliderItem(style="background-image: url('img/part01.png')")
                .partnerSliderItem(style="background-image: url('img/part02.png')")
                .partnerSliderItem(style="background-image: url('img/part03.png')")
                .partnerSliderItem(style="background-image: url('img/part04.png')")
                .partnerSliderItem(style="background-image: url('img/part05.png')")
                .partnerSliderItem(style="background-image: url('img/part06.png')")
