.recovery
    .recoveryWrap
        .recoveryClose
            button.buttonClose.js-closeoverlay
        .recoveryHeader
            | Забыли пароль?
        .recoveryForm
            .recoveryFormItem
                label.label
                    | Ваш E-mail:

                input.input
            .recoveryFormItem
                p
                    | На вашу почту в течение нескольких минут </br>придет письмо с новым паролем
            .recoveryFormItemCenter
                button.buttonYellow
                    .buttonYellowText Отправить
