.registration
    .registrationWrap
        .registrationClose
            button.buttonClose.js-closeoverlay
        .registrationHeader
            | Регистрация
        .registrationForm
            .registrationFormItem
                .registrationFormItemColumn
                    label.label
                        | Ваш e-mail&nbsp
                        span *
                    input.input
                .registrationFormItemColumn
                    label.label
                        | Ваше имя&nbsp
                        span *
                    input.input
            .registrationFormItem
                .registrationFormItemColumn
                    label.label
                        | Пароль&nbsp
                        span *
                    input.input
                .registrationFormItemColumn
                    label.label
                        | Подтвердите пароль&nbsp
                        span *
                    input.input
            .registrationFormItem
                .registrationFormItem
                    .registrationFormItemColumn
                        label.label
                            | Телефон&nbsp
                            span *
                        input.input.js-inputphone
            .registrationFormItem
                p
                    | Поля, помеченные специальным знаком&nbsp
                    span *&nbsp
                    | — обязательны для заполнения
            .registrationFormItemCenter
                button.buttonYellow
                    .buttonYellowText Зарегистрироваться
