.shedule
    .sheduleWrap
        .sheduleLeft
            .sheduleSliderHeader
                .sheduleSliderHeaderLeft
                    | Расписание
                .sheduleSliderHeaderRight
                    a(href="#") Посмотреть полное расписание
            .sheduleSlideBlockWrap
                .sheduleSlideBlockShadow
                .sheduleSliders

                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentBottle
                            .sheduleSlideContentText
                                a(href="#") Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти
                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentPovar
                            .sheduleSlideContentText
                                a(href="#") День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.sheduleSlideButtonGrey.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти
                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentBottle
                            .sheduleSlideContentText
                                a(href="#") Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.sheduleSlideButtonCoffe.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти
                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentBottle
                            .sheduleSlideContentText
                                a(href="#") Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.sheduleSlideButtonOlive.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти


                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentBottle
                            .sheduleSlideContentText
                                a(href="#") Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton
                            .sheduleSlideButtonText
                                | Хочу пойти
                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentPovar
                            .sheduleSlideContentText
                                a(href="#") День открытых дверей. Мастер-классы от лучших поваров холдинга. День рождения Bellini Group.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.sheduleSlideButtonGrey.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти
                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentBottle
                            .sheduleSlideContentText
                                a(href="#") Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.sheduleSlideButtonCoffe.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти

                    .sheduleSlide
                        .sheduleSlideTop
                            .sheduleSlideTopDate
                                | 27, ПТ
                                span Сентября
                            .sheduleSlideTopTime
                                | 13:00
                        .sheduleSlideContent
                            .sheduleSlideContentBottle
                            .sheduleSlideContentText
                                a(href="#") Класс. Обед за 40 минут. Салат с артишоками и вялеными томатами.
                        .sheduleSlidePovar
                            .sheduleSlidePovarAvatar
                                img(src="img/avatar01.jpg")
                            .sheduleSlidePovarText
                                | Шеф повар:</br>
                                a(href="#").
                                    Евгений
                                    Баранников
                        button.sheduleSlideButton.sheduleSlideButtonOlive.js-showCart
                            .sheduleSlideButtonText
                                | Хочу пойти


        .sheduleRight
            .sheduleAds
                a(href="#")
                    img(src="img/ads01.jpg")
