.video
    .videoWrap
        .videoLeft
            .videoHeader
                span Рататуй
            .videoSubHeader
                | «Рататуй» — это возможность холдинга приоткрыть завесу кухни для гостей ресторанов, где они получат шанс своими руками создавать кулинарные шедевры!
            .videoText
                | Для учеников созданы все условия, чтобы процесс готовки был в удовольствие — для каждого оборудовано свое рабочее пространство. Благодаря этому каждый гость сможет напрямую столкнуться со всеми необходимыми кухонными атрибутами, увидеть их в действии и главное — оценить по достоинству.
        .videoRight
            .videoPlayer
                img(src="img/video.jpg")
                button.videoPlayerPlay
