.lessonFilter
    display block
    position relative
    width 100%
    height 375px
    margin-bottom 40px
    sf()

.lessonFilterTop
    display block
    position relative
    padding-top 25px
    padding-left 20px
    margin-bottom 10px
    height 138px
    z-index 100
    bg()
    background-image url("../img/lessonFilterTopBG.png")
    sf()

.lessonFilterTopItem
    display block
    margin-bottom 5px
    sf()
    a
        display inline-block
        height 40px
        ff(hangy,2.2,4)
        text-decoration none
        color #d1cdab
        padding-left 48px
        &:hover
            color white
    .iconPovar
        bg(left)
        background-image inline("iconPovar.png")
        &:hover
            background-image inline("iconPovarActive.png")
    .iconVine
        line-height 47px
        bg(left)
        background-image inline("iconBottle.png")
        &:hover
            background-image inline("iconBottleActive.png")
    &Active
        a
            color #fff
        .iconPovar
            background-image inline("iconPovarActive.png")
        .iconVine
            background-image inline("iconBottleActive.png")

.lessonFilterBottom
    display block
    position relative
    padding 30px 20px 0px
    margin-top -20px
    z-index 0
    background-color #FFF
    sf()
    &Footer
        display block
        position relative
        background-color transparent
        content ""
        width 256px
        height 15px
        bottom 0
        left 0px
        bg(bottom)
        margin-bottom 20px
        background-image url("../img/lessonFilterBottomBG.png")
        sf()
    &Item
        display inline-block
        border 2px solid #a6a178
        padding 2px
        margin-bottom 10px
        sf()
        a
            display block
            padding  4px 6px 5px
            ff(din,1.7,1.7)
            color #fff
            text-decoration none
            background-color #a6a178
            transition all .3s
        &:hover, &Active
            border 2px solid #313131
            a
                background-color #313131
