.lessonItems
    display block
    margin-bottom 25px
    sf()
.lessonItem
    display block
    float left
    width 261px
    float left
    margin-right 22px
    margin-bottom 22px
    sf()
    &:nth-child(3n)
        margin-right 0px
    a
        text-decoration none
    &:hover
        .lessonItemName
            color #c68700
        .lessonItemPhoto
            img
                transform scale(1.1)
.lessonItemPhoto
    display block
    height 200px
    overflow hidden
    sf()
    img
        height 100%
        transition all .5s
.lessonItemName
    display block
    background-color #FFF
    padding 18px
    height 105px
    bg(bottom)
    background-image inline("sheduleBottomBorder.png")
    ff(din,2)
    text-decoration none
    color #111

.lessonItemClock
    display block
    position relative
    padding 19px 17px
    height 87px
    background-image inline("presenterSheduleClockBG.png")
.lessonItemClockDate
    display block
    float left
    margin-right 30px
    ff(hangy,2.4)
    color #000
    span
        display block
        color #535353
        ff(hangy,1.5)
.lessonItemClockTime
    display block
    float right
    padding-left 30px
    bg(left)
    background-image inline("iconClock.png")
    color #212121
    ff(hangy,2.8)

.lessonItemBottle
    display block
    abs_center()
    margin-top -10px
    margin-left -20px
    bg()
    background-image inline("iconBottle.png")
    sf()
