.page
    display block
    float left
    width 828px
    margin-right 15px
    sf()
.pageHeader
    display block
    margin-bottom 20px
.pageBody
    display block
    background-color #FFF
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    padding 39px 50px 39px 39px
    margin-bottom 100px
    sf()
