.headerWrap
    display block
    position relative
    top 85px
    margin-bottom 85px
    sf()
.headerType
    display block
    position relative
    height 240px
    margin-bottom 0px
    bg()
    background-size cover
    background-image url("../img/headerBG.jpg")
    sf()
.headerFilter
    display block
    position absolute
    background-color #000
    top 0px
    left 0
    width 100%
    opacity 0.6
    height 190px
    z-index 100
.header
    display block
    center(1200px)
    position absolute
    top 0
    left 0
    right 0
    height 176px
    z-index 1000

.headerLogo
    display block
    float left
    margin-left 48px
    margin-top 10px
    sf()
    bg()
    width 209px
    height 156px
    background-image inline("logo.png")

.headerSocial
    display block
    float left
    margin-top 56px
    margin-left 80px
    z-index 1000
    sf()
    bg()
.headerSocialIcon
    display block
    float left
    position relative
    margin-right 10px
    width 46px
    height 46px
    bg()
    background-image inline("iconSocial.png")
    transition all .5s
    sf()
    &:hover
        background-image inline("iconSocialActive.png")
    a
        display block
        width 100%
        height 100%
        transition all .5s
        bg()

.headerSocialVK
    @extend .headerSocialIcon
    a
        background-image inline("iconVK.png")
    &:hover
        a
            background-image inline("iconVKActive.png")
.headerSocialFB
    @extend .headerSocialIcon
    a
        background-image inline("iconFB.png")
    &:hover
        a
            background-image inline("iconFBActive.png")
.headerSocialIN
    @extend .headerSocialIcon
    a
        background-image inline("iconIN.png")
    &:hover
        a
            background-image inline("iconINActive.png")


.headerPhone
    display block
    float left
    margin-top 50px
    margin-left 50px
    width 285px
    ff(hangy,3.4)
    letter-spacing -0.05em
    color #E1D8B4
    span
        ff(hangy,3.4)
        letter-spacing -0.05em
        color #fff
    &Links
        margin-top 5px
        text-align right
        margin-right 30px
        letter-spacing normal
        ff(normal,1.5,1.5)
        a
            display inline-block
            position relative
            margin-right 5px
            margin-left 5px
            ff(normal,1.7,1.7)
            height 18px
            color #fff37e
            text-decoration none
            border-bottom 1px dotted #fff37e
            &:hover
                color #FFA200
                text-decoration none
                border-bottom 0
.headerLogin
    display block
    bg(left)
    background-image inline("iconLogin.png")
    padding-left 40px
    letter-spacing normal
    sf()
    &Name
        ff(din,1.7,1.7)
        color #fff
    &Control
        display block
        margin-top 5px
        sf()
        a
            display inline-block
            margin-right 20px
            ff(din,1.5,1.5)
            color #FFF37E
            transition all .5s
            &:hover
                color #FFA200
                text-decoration none
        .iconLogout
            color #FF5656
            bg(left)
            background-image inline('iconSmallLogout.png')
            padding-left 20px
            &:hover
                color darken(#FF5656,20%)
.headerCart
    display block
    float left
    margin-top 50px
    margin-left 60px
    &Icon
        display block
        float left
        width 50px
        height 56px
        margin-right 12px
        bg()
        background-image inline("iconCart.png")
    &Text
        display block
        float left
        ff(hangy,2.4)
        color #fff
        a
            ff(hangy,2.4)
            height 15px
            color #E1D8B4
            &:hover
                color #FFA200
                text-decoration none
                border-bottom 0
        &Bottom
            ff(din,1.5)
