.cartAdd
    display none
    abs_center()
    position fixed
    width 606px
    height 195px
    box-shadow 0 0 15px rgba(1, 1, 1, 0.5)
    background-color #484848
    z-index 10000
    padding-top 45px
    sf()
.cartAddClose
    display block
    position absolute
    right 25px
    top 25px
.cartAddHeader
    display block
    color #fff
    ff(hangy,3.0)
    text-align center
    margin-bottom 35px
    sf()
.cartAddButton
    display block
    text-align center
    button
        margin-right 10px
        &:last-child
            margin-right 0px
