.order
    display block
    position relative
    min-height 386px
    sf()
.orderForm
    display block
    position relative
    background-color #FFF
    box-shadow 0 0 40px rgba(1, 1, 1, .3)
    bg(bottom)
    height 536px
    padding 30px 60px
    background-image inline("orderBG.png")
    sf()
.orderFormHeader
    display block
    ff(hangy,3)
    margin-bottom 30px
    sf()
.orderFormItems
    display block
    margin-bottom 30px
    sf()
.orderFormItemColumn

    col(1/3)

.orderFormItemPayItems
    display block
    margin-bottom 45px
    sf()
.orderFormItemPayHeader
    display block
    ff(hangy,3.0)
    margin-bottom 20px
    sf()
    span
        color red
.orderFormItemPayItem
    display block
    width 482px
    float left
    height 123px
    padding 20px
    background-color #f0f0f0
    margin-right 20px
    &:last-child
        margin-right 0px
    .labelDarkCheckbox
        ff(hangy,2.4)
        color #3e3e3e
    &Active
        background-color #e1d8b4
        .labelDarkCheckbox
            color #7f7949
    &Description
        ff(din,1.7,2.0)
        color #3e3e3e
.orderFormFooter
    display block
    sf()
.orderFormItem
    display block
    margin-bottom 18px
    sf()
    p
        ff(din,1.4,2.0)
        color #fff
        text-align center
        span
            ff(din,2.0,2.0)
            color #FF5E5E
    &Center
        text-align center
