.giftBG
    display block
    height 618px
    bg()
    background-image url("../img/giftBG.jpg")

.giftHeader
    display inline-block
    position relative
    vertical-align middle
    ff(hangy,5)
    text-transform uppercase
    color #fff
    padding 0 40px
    margin-left 20px
    &:after
        content ""
        display block
        top 8px
        left -20px
        position absolute
        width 39px
        height 28px
        bg()
    &:before
        content ""
        display block
        top 8px
        right -20px
        position absolute
        width 39px
        height 28px
        bg()
    &:before,
    &:after
        background-image inline("iconBantWhite.png")


.giftBanner
    display block
    sf()
.giftBannerImage
    display block
    float left
    margin-left -200px
    sf()
.giftBannerText
    display block
    float left
    width 460px
    padding-top 100px
    color #fff
    sf()

.giftBannerTextHeader
    ff(hangy,2.6)
    margin-bottom 10px
.giftBannerTextSub
    ff(din,1.7)
