.lessonHeader
    display block
    margin-bottom 20px
    sf()
.lessonHeaderBack
    display block
    float right
    margin-top 14px
    sf()
    a
        display block
        position relative
        color #968f5c
        ff(hangy,2)
        transition all .5s
        bg(left)
        padding-left 30px
        background-image inline("iconBack.png")
    &:hover
        a
            color darken(#968f5c,20%)
            text-decoration none

.lessonHeaderMenu
    display block
    float right
    margin-top 0px
    margin-right -32px
.lessonHeaderMenuItem
    display inline-block
    padding 12px
    margin-right 0px
    a
        display block
        margin-left -3px
        height 32px
        padding 0 20px
        color #985011
        text-decoration underline
        text-transform uppercase
        ff(hangy,2.6,3.2)
        bg(left)
        transition all .5s
        &:hover
            text-decoration none
            color #212121
    &Active
        bg()
        background-size 100% 52px
        background-image inline("strokeLK.png")
        a
            text-decoration none
            color #212121

    &:last-child
        margin-right 0
