.cartAdd
    .cartAddClose
        button.buttonClose.js-closeCart
    .cartAddHeader
        | Товар добавлен в корзину.
    .cartAddButton
        button.buttonOhra
            .buttonOhraText Вернуться к покупкам
        button.buttonYellow
            .buttonYellowText Оформить заказ
