.cabinetTab_2
    padding 0
    display none

.cabinetOrderTable
    thead
        .cabinetOrderTableBlack
            background-color #1e1e1e
            color #FFF
    tbody
        td
            vertical-align top
        .cabinetOrderTableBlack
            background-color #484848
            ff(hangy,2.2)
            color #FFF
        tr
            &:nth-child(even)
                .cabinetOrderItemsMore
                    background-color #f0f0f0
                .cabinetOrderTableBlack
                    background-color #5a5a5a
    &Price
        ff(hangy,3,3)
        color #010101
        span
            display inline-block
            position relative
            &:after
                display block
                position absolute
                right -18px
                top -4px
                content ""
                width 14px
                height 30px
                bg()
                background-image inline("iconRuble.png")
.cabinetOrderItems
    display block
    position relative
    max-height 165px
    overflow hidden
    transition all .5s
    sf()

.cabinetOrderItemsAll
    padding-bottom 15px

.cabinetOrderItemsMore
    display block
    position absolute
    background-color #FFF
    width 100%
    bottom 0
    text-align center
    .linkOrangeDotted
        position relative
        &:before
            display block
            position absolute
            top 8px
            left -22px
            width 15px
            height 9px
            content ""
            bg(left)
            background-image inline("iconMore.png")
            padding-left 20px
.cabinetOrderItem
    display block
    padding-bottom 10px
    margin-bottom 10px
    border-bottom 1px dotted #b7b7b7
    sf()
    &Photo
        display table-cell
        padding-right 10px
    &Body
        display table-cell
        vertical-align top
        max-width 300px
        a
            display block
            ff(din,1.7)
            text-decoration underline
            color #111
            transition all .5s
            margin-bottom 2px
            &:hover
                text-decoration none
        span
            color #808080
            ff(din,1.5)
