a
    &:focus
        outline 0


.headerBant, h1
    display inline-block
    position relative
    vertical-align middle
    ff(hangy,5)
    text-transform uppercase
    color #57585B
    padding 0 40px
    margin-left 20px
    &:after
        content ""
        display block
        top 8px
        left -20px
        position absolute
        width 39px
        height 28px
        bg()
        background-image inline("iconBant.png")
    &:before
        content ""
        display block
        top 8px
        right -20px
        position absolute
        width 39px
        height 28px
        bg()
        background-image inline("iconBant.png")

.headerGlass
    display inline-block
    position relative
    vertical-align middle
    ff(hangy,4)
    text-transform uppercase
    color #57585B
    padding 0 40px
    margin-left 20px
    &:after
        content ""
        display block
        top 5px
        left -40px
        position absolute
        width 63px
        height 23px
        bg()
        background-image inline("iconGlassBlack.png")
    &:before
        content ""
        display block
        top 5px
        right -40px
        position absolute
        width 63px
        height 23px
        bg()
        background-image inline("iconGlassBlack.png")
p
    ff(din,1.7,2.0)
    color #414141
    margin-bottom 20px
    sf()
    img
        float left
        margin-right 20px
        margin-bottom 20px
strong
    color #c68700
    font-weight normal

.linkOrangeDotted
    display inline-block
    border-bottom 1px dotted #985011
    a
        ff(din,1.5,1.5)
        color #985011
        text-decoration none
    &:hover
        text-decoration none
        border-bottom-color transparent
        a
            color #FFA200

h2
    display block
    padding 20px 0 20px
    ff(hangy,4)
    color #57585b
h3
    display block
    padding 20px 0 20px
    ff(hangy,3.4)
    color #57585b
h4
    display block
    padding 20px 0 20px
    ff(hangy,2.8)
    color #57585b

ul
    display block
    ff(din,1.7,2.0)
    color #414141
    list-style none
    padding 0
    margin 0 0 30px 0
    li
        display block
        position relative
        padding-left 20px
        margin-bottom 10px
        &:before
            display block
            position absolute
            content ""
            width 10px
            left 0px
            height 20px
            bg()
            background-image inline("iconUl.png")
    ul
        margin-left 20px
        margin-bottom 0px
        li
            &:before
                background-image inline("iconUllvl2.png")

ol
    display block
    ff(din,1.7,2.0)
    color #414141
    list-style none
    padding 0
    margin 0 0 30px 0
    counter-reset ol-count
    li
        display block
        position relative
        padding-left 25px
        margin-bottom 10px
        ff(din,1.7,2.0)
        &:before
            display block
            ff(hangy,2,2.0)
            position absolute
            content counter(ol-count)
            counter-increment ol-count
            color #a6a178
            width 10px
            left 0px
            height 20px
        &:after
            display block
            position absolute
            color #a6a178
            content ")"
            ff(hangy,2,2.0)
            width 10px
            top 0
            left 10px
            height 20px

    ol
        margin-left 20px
        margin-bottom 0
        counter-reset ol-lvl2-count
        li
            &:before
                content counter(ol-lvl2-count)
                counter-increment ol-lvl2-count
            &:after
                display block
                position absolute
                content "."
                ff(hangy,2,2.0)
                width 10px
                top 0
                left 10px
                height 20px

blockquote
    display block
    margin 20px 0
    padding 20px
    background-image url("../img/quoteBG.jpg")
    span
        display block
        position relative
        padding 1px
        ff(hangy,2.2,2.4)
        color #57585b
        border 2px solid #cfcfcf
        span
            padding 20px
            border 1px solid #cfcfcf

form
    .selectric
        margin-bottom 10px

    button
        margin-bottom 10px
table
    margin 20px 0
    width 100%
    thead
        ff(din,1.7)
        background-color #d1cdab
        td
            padding 10px 20px
    tbody
        ff(din,1.5)
        tr
            &:nth-child(even)
                background-color #f0f0f0
            td
                padding 10px 20px
