.icheckbox
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    width 24px
    height 24px
    margin-top -4px
    border-radius 2px
    margin-right 10px
    border 2px solid #a6a178

    background-color #fff
    sf()
    &:hover
        border 2px solid #484848
    &.checked
        background-color blues
        position relative
        &:before
            display block
            position absolute
            width 24px
            height 24px
            content " "
            top -3px
            left -2px
            bg()
            background-image inline('iconCheckbox.png')


.iradio
    display inline-block
    vertical-align middle
    margin-top -4px
    width 24px
    height 24px
    border-radius 12px
    border 2px solid #a6a178
    cursor pointer
    margin-right 10px
    background-color #FFF
    sf()
.iradio
    &.hover
        border 2px solid #484848
    &.checked
        position relative
        &:before
            display block
            position absolute
            width 24px
            height 24px
            content " "
            top -2px
            left -2px
            bg()
            background-image inline('iconRadio.png')
        &.disabled
            background-position -216px 0
    &.disabled
        background-position -192px 0
        cursor default
