.group
    *zoom 1
    &:after
        clear both

.group:before, .group:after
    display table
    content ""
    line-height 0

@font-face
    font-family 'Slide-icons'
    src url('../fonts/Slide-icons.eot')
    font-family 'Slide-icons'
    font-weight normal
    font-style normal

[data-icon]:before
    font-family 'Slide-icons'
    content attr(data-icon)
    speak none
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    font-smoothing antialiased
    osx-font-smoothing grayscale

.light-gallery
    overflow hidden!important

#lg-gallery
    height 100%
    opacity 0
    width 100%
    position relative
    transition opacity 1s ease 0s
    img
        border none!important
    &.opacity
        opacity 1
        transition opacity 1s ease 0s
        .thumb-cont
            opacity 1
        .lg-slide
            .object
                transform scale3d(1, 1, 1)
                transform scale3d(1, 1, 1)
    &.fade-m
        opacity 0
        transition opacity 0.5s ease 0s
        .lg-slide
            .object
                transform scale3d(0.5, 0.5, 0.5)
                transform scale3d(0.5, 0.5, 0.5)
    &.show-after-load
        .lg-slide
            & > *
                opacity 0
            &.complete
                & > *
                    opacity 1
    .thumb-cont
        position absolute
        bottom 0
        width 100%
        box-sizing border-box
        background-color #000000
        transition max-height 0.4s ease-in-out
        transition max-height 0.4s easeout
        z-index 9
        max-height 0
        opacity 0
        .thumb-inner
            transition -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s
            transition -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s
            transition -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s
            transition -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s
            transition transform 1s cubic-bezier(0, 0, 0.25, 1) 0s
            margin-left -12px
            padding 12px
            max-height 290px
            overflow-y auto
            box-sizing content-box
        .thumb-info
            background-color #333
            padding 7px 20px
            .count
                color #ffffff
                font-weight bold
                font-size 12px
            .close
                color #FFFFFF
                display block
                float right !important
                width 28px
                position relative
                height 28px
                border-radius 2px
                margin-top -4px
                background-color #000
                background-color rgba(0, 0, 0, 0.65)
                transition background-color 0.3s ease 0s
                z-index 1090
                cursor pointer
                i
                    &:after
                        left 6px
                        position absolute
                        top 4px
                &:hover
                    text-decoration none
                    background-color #000
                    background-color rgba(0, 0, 0, 1)
        .thumb
            display inline-block !important
            vertical-align middle
            text-align center
            *display inline
            *zoom 1
            margin-bottom 4px
            height 50px
            width 50px
            opacity 0.6
            overflow hidden
            border-radius 3px
            cursor pointer
            transition border-color linear .2s, opacity linear .2s
    &.open
        .thumb-cont
            max-height 350px

#lg-outer
    width 100%
    height 100%
    position fixed
    top 0
    left 0
    z-index 99999!important
    overflow hidden
    user-select none
    opacity 1
    transition opacity 0.35s ease
    background #0d0d0d
    .lg-slide
        position relative

#lg-slider
    height 100%
    left 0
    top 0
    width 100%
    position absolute
    white-space nowrap
    .lg-slide
        background url(../img/loading.gif) no-repeat scroll center center transparent
        display inline-block
        height 100%
        text-align center
        width 100%
        &.complete
            background-image none
        &:before
            content ""
            display inline-block
            height 50%
            width 1px
            margin-right -1px
        img
            display inline-block
            max-height 100%
            max-width 100%
            cursor grabbing
            cursor grab
            margin 0
            padding 0
            width auto
            height auto
            vertical-align middle
    &.fade-m
        .lg-slide
            position absolute
            left 0
            opacity 0
            transition opacity 0.4s ease 0s
            transition opacity 0.4s ease 0s
        .current
            opacity 1
            z-index 9
        &.on
            .current
                opacity 1
                transition opacity 0.5s ease 0s
    &.animate
        .lg-slide
            position absolute
            left 0
    &.slide
        .lg-slide
            transform translate3d(100%, 0px, 0px)
            transform translate3d(100%, 0px, 0px)
            &.current
                opacity 1 !important
                transform translate3d(0px, 0px, 0px) !important
            &.prev-slide
                opacity 0
                transform translate3d(-100%, 0px, 0px)
            &.next-slide
                opacity 0
                transform translate3d(100%, 0px, 0px)
        &.on
            .lg-slide
                opacity 0
    &.use-left
        .lg-slide
            left 100%
            &.current
                opacity 1 !important
                left 0% !important
            &.prev-slide
                opacity 0
                left -100%
            &.next-slide
                opacity 0
                left 100%
        &.on
            .lg-slide
                opacity 0
    .video-cont
        display inline-block
        max-height 100%
        max-width 100%
        margin 0
        padding 0
        width auto
        height auto
        vertical-align middle
        background none
        max-width 1140px
        max-height 100%
        width 100%
        box-sizing border-box
    .video
        width 100%
        height 0
        padding-bottom 56.25%
        overflow hidden
        position relative
        .object
            width 100%!important
            height 100%!important
            position absolute
            top 0
            left 0

#lg-slider.slide .lg-slide, #lg-slider.use-left .lg-slide
    position absolute
    opacity 0.4

.lg-slide
    .object
        transform scale3d(0.5, 0.5, 0.5)
        transform scale3d(0.5, 0.5, 0.5)
        transition -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s
        transition -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s
        transition -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s
        transition -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s
        transition transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s
        &.left-end
            animation leftEnd 0.3s
            animation leftEnd 0.3s
            position relative

#lg-slider.slide.on .lg-slide, #lg-slider.slide.on .current, #lg-slider.slide.on .prev-slide, #lg-slider.slide.on .next-slide
    transition -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s
    transition -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s
    transition -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s
    transition -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s
    transition transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s

#lg-slider.speed .lg-slide, #lg-slider.speed .current, #lg-slider.speed .prev-slide, #lg-slider.speed .next-slide
    transition-duration inherit !important
    transition-duration inherit !important

#lg-slider.timing .lg-slide, #lg-slider.timing .current, #lg-slider.timing .prev-slide, #lg-slider.timing .next-slide
    transitionfunction inherit !important
    transition-timing-function inherit !important



    .lg-slide
        .object
            &.right-end
                animation rightEnd 0.3s
                animation rightEnd 0.3s
                position relative
    #lg-gallery
        .thumb-cont
            .thumb
                & > img
                    height auto
                    max-width 100%

#lg-action
    bottom 20px
    position fixed
    left 50%
    margin-left -30px
    z-index 9
    backface-visibility hidden
    &.has-thumb
        margin-left -46px
    a
        margin 0 3px 0 0 !important
        border-radius 2px
        position relative
        top auto
        left auto
        bottom auto
        right auto
        display inline-block !important
        display inline-block
        vertical-align middle
        *display inline
        *zoom 1
        background-color #000
        background-color rgba(0, 0, 0, 0.65)
        font-size 16px
        width 28px
        height 28px
        font-family 'Slide-icons'
        color #FFF
        cursor pointer
        &.disabled
            opacity 0.6
            cursor default
            background-color #000
            background-color rgba(0, 0, 0, 0.65) !important
        &.cl-thumb
            &:after
                font-family 'Slide-icons'
                content "\e01c"
                left 6px
                bottom 4px
                font-size 16px
                position absolute
    a#lg-prev
        &:before
            content "\e01d"
    a#lg-next
        &:after
            content "\e01b"

#lg-action a:hover, #lg-action a:focus
    background-color #000
    background-color rgba(0, 0, 0, 0.85)

#lg-action a#lg-prev:before, #lg-action a#lg-next:after
    left 5px
    bottom 3px
    position absolute

#lg-counter
    bottom 52px
    text-align center
    width 100%
    position absolute
    z-index 9
    color #FFFFFF

#lg-gallery .thumb-cont .thumb-info .close i:after, #lg-close:after
    content "\e01a"
    font-family 'Slide-icons'
    font-style normal
    font-size 16px


#lg-gallery .thumb-cont .thumb.active, #lg-gallery .thumb-cont .thumb:hover
    opacity 1
    border-color #ffffff

#lg-close
    color #FFFFFF
    height 28px
    position absolute
    right 20px
    top 20px
    width 28px
    z-index 1090
    cursor pointer
    background-color #000
    border-radius 2px
    background-color #000
    background-color rgba(0, 0, 0, 0.65)
    transition background-color 0.3s ease
    backface-visibility hidden
    &:after
        position absolute
        right 6px
        top 3px
    &:hover
        text-decoration none
        background-color #000

.custom-html
    background none repeat scroll 0 0 black
    background none repeat scroll 0 0 rgba(0, 0, 0, 0.75)
    color #fff
    font-family Arial, sans-serif
    height 70px
    left 0
    position absolute
    right 0
    top 0
    z-index 9
    p
        font-size 14px
    & > h4
        font-family Arial, sans-serif
        font-weight bold
        margin-bottom 5px
        margin-top 15px
