.contactPopup
    .contactPopupWrap
        .contactPopupClose
            button.buttonClose.js-closeoverlay
        .contactPopupHeader
            | Напишите нам
        .contactPopupForm
            .contactPopupFormItems
                .contactPopupFormItem
                    .contactPopupFormItemColumn
                        label.label
                            | Пожалуйста представьтесь
                            span *
                        input.input
                    .contactPopupFormItemColumn
                        label.label
                            | Ваш e-mail&nbsp
                            span *
                        input.input
                .contactPopupFormItem
                    .contactPopupFormItem
                        label.label
                            | Текст отзыва&nbsp
                            span *
                        textarea.textareaLight
        .contactPopupFormFooter
            .contactPopupFormItem
                p
                    | Поля, помеченные специальным знаком&nbsp
                    span *&nbsp
                    | — обязательны для заполнения
            .contactPopupFormItemCenter
                button.buttonYellow
                    .buttonYellowText Отправить письмо
