.svgMask
    display none
.presentersItems
    display block
    margin-bottom 60px
    sf()
.presentersItem
    display block
    float left
    width 276px
    height 435px
    padding-top 20px
    transition all .5s
    sf()
    &:hover
        background-color #FFF
        box-shadow 0 0 15px rgba(1, 1, 1, 0.3)
        .presentersItemPhoto
            svg
                #Mask-2
                    stroke #c68700
        .presentersItemName
            a
                color #c68700
                text-decoration none
.presentersItemPhoto
    display block
    width 216px
    height 216px
    margin 0 auto 12px
    padding-top 5px
    padding-left 5px
    transition all .5s
    sf()
    svg
        #Mask-2
            transition all .5s
            stroke #484848
    &:hover
        svg
            #Mask-2
                stroke #c68700

.presentersItemName
    display block
    text-align center
    a
        ff(hangy,2.6)
        color #914400
        &:hover
            color #c68700
            text-decoration none

.presentersItemPosition
    display block
    text-align center
    margin-bottom 10px
    ff(din,1.7)
    color #3a3a3a
    bg(bottom)
    padding-bottom 10px
    background-image inline("sheduleBottomBorder.png")
    sf()
.presentersItemDescription
    display block
    text-align center
    padding 0 15px
    color #3a3a3a
    ff(din,1.5)
