.video
    display block
    //margin-top -30px
    position relative
    width 100%
    bg(top)
    background-size cover
    background-image url("../img/videoBG.jpg")
    height 498px


.videoWrap
    center(1200px)

.videoLeft
    span(1/2)
    padding-top 80px
    padding-right 50px
    sf()
.videoRight
    span(1/2)
    padding-top 50px


.videoHeader
    display block
    color #57585B
    ff(hangy,5)
    text-transform uppercase
    margin-bottom 15px
    margin-left 70px
    span
        display inline-block
        position relative
        &:after
            content ""
            display block
            top 8px
            left -60px
            position absolute
            width 43px
            height 13px
            bg()
            background-image inline("iconUs.png")
        &:before
            content ""
            display block
            top 8px
            right -60px
            position absolute
            width 43px
            height 13px
            bg()
            background-image inline("iconUs.png")
.videoSubHeader
    display block
    color #4A4A4A
    ff(hangy,2.6)
    margin-bottom 15px

.videoText
    display block
    color #4A4A4A
    ff(din,1.8)


.videoPlayer
    display block
    float right
    margin-right 40px
    position relative
    width 544px
    height 398px
    background-color #FFF
    box-shadow 0 0 7px rgba(1, 1, 1, 0.25)
    padding 16px
    sf()
    img
        width 100%
        height 100%
    &Play
        display block
        position absolute
        abs_center()
        width 108px
        height 108px
        border 0
        outline 0
        background-color transparent
        bg()
        background-image inline("iconPlay.png")
        transition all .5s
        &:hover
            background-image inline("iconPlayHover.png")
