.gallery
    display block
    overflow hidden
    padding-top 10px
    margin-top -10px
    sf()

.gallerySlider
    display block
    sf()

.gallerySlide
    img
        display block
        transition transform .5s ease-in-out
        z-index 50
        &:hover
            transform scale(1.1)
            z-index 100
            box-shadow 0 0 10px rgba(1, 1, 1, 0.5)
    .gallerySlideTop
        display block
        sf()
        img
            display block
            float left
    .gallerySlideBottom
        display block
        sf()


.gallerySlider
    .slick-list
        overflow visible
    .slick-prev,
    .slick-next
        font-size 0
        line-height 0
        position absolute
        top 50%
        left 50%
        right 50%
        display block
        width 60px
        height 60px
        margin-top -10px
        background-color transparent
        padding 0
        cursor pointer
        color transparent
        border none
        outline none
        z-index 2000

    .slick-prev
        margin-left -560px
        bg()
        background-image inline("gallerySlickLeft.png")
        &:hover
            background-image inline("gallerySlickLeftActive.png")
    .slick-next
        margin-left 500px
        bg()
        background-image inline("gallerySlickRight.png")
        &:hover
            background-image inline("gallerySlickRightActive.png")
