.lessonFilter
    .lessonFilterTop
        .lessonFilterTopItem
            a(href="#").iconPovar Кулинарная студия
        .lessonFilterTopItem.lessonFilterTopItemActive
            a(href="#").iconVine Винная школа
    .lessonFilterBottom
        .lessonFilterBottomItem.lessonFilterBottomItemActive
            a(href="#") Итальянская кухня
        .lessonFilterBottomItem
            a(href="#") Русская кухня
        .lessonFilterBottomItem
            a(href="#") Турецкая кухня
        .lessonFilterBottomItem
            a(href="#") Луизианская кухня
        .lessonFilterBottomItem
            a(href="#") Португальская кухня
    .lessonFilterBottomFooter
