.svgMask.
    <svg width="216px" height="216px" viewBox="0 0 216 216" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <path id="path-1" d="M191.92381,133.569378 C189.809524,139.186603 187.285714,144.660287 184.314286,149.875598 C178.761905,159.636364 171.590476,168.449761 162.971429,175.626794 C143.638095,191.732057 117.161905,199.674641 92.2380952,199.157895 C64.1714286,198.574163 35.647619,186.15311 19.1428571,162.794258 C11.3238095,151.732057 6.28571429,138.784689 3.51428571,125.550239 C0.333333333,110.373206 -0.476190476,93.569378 4.53333333,78.6985646 C8.3047619,67.4832536 15.152381,57.9904306 23.1904762,49.4832536 C27.5809524,44.8325359 32.2285714,40.4210526 37.2666667,36.4784689 C42.3809524,32.4784689 56.1333327,21.8468902 61.3619041,18.0000003 C56.666666,15.1100481 53.7333333,16.8325362 49,14.0000003 C54.8761904,9.02392373 51.9619047,11.9186606 59,9.00000029 C66.2285714,6.00478497 73.0761905,4.6507177 80.7428571,3.09090909 C95.4190476,0.105263158 110.942857,0.373205742 125.647619,3.08133971 C153.8,8.26794258 179.228571,25.5980861 190.790476,52.4114833 C195.504762,63.3397129 197.790476,75.3110048 198.971429,87.1100478 C199.866667,96.0574163 199.028571,104.45933 197.780952,113.282297 C196.809524,120.15311 194.361905,127.090909 191.92381,133.569378 Z"></path>
        <path id="path-3" d="M208.344183,119.001198 C207.315923,126.279906 204.725111,133.629576 202.144379,140.492648 C199.906401,146.443346 197.234941,152.241983 194.089675,157.766907 C188.212462,168.107133 180.621483,177.443749 171.498195,185.046857 C151.033802,202.108229 123.008672,210.522335 96.6267431,209.974911 C66.9180898,209.356525 36.7255494,196.198081 19.255208,171.452501 C10.978722,159.733578 5.64588264,146.017572 2.71231694,131.997442 C-0.654730967,115.919405 -1.51161442,98.1179961 3.79098199,82.3643577 C7.78305077,70.4832353 15.0312767,60.4268587 23.5396253,51.4146421 C28.1869579,46.4878286 33.106477,41.8144519 38.4393163,37.6378116 C43.8528035,33.4003465 49.699773,29.7103051 55.2342319,25.6350395 C50.2643079,22.5735216 43.9636943,24.3273051 38.9534464,21.326612 C45.1734121,16.0551243 53.3188454,12.7198945 60.7686909,9.62796423 C68.4201561,6.45493411 76.3438078,3.920565 84.4589981,2.26815634 C99.993791,-0.89473631 116.425791,-0.61088697 131.990827,2.25801886 C161.790209,7.75253109 188.706431,26.1115009 200.944742,54.5167099 C205.934828,66.093708 208.354264,78.775691 209.604306,91.2751995 C210.551918,100.75374 209.664792,109.654444 208.344183,119.001198 C207.779648,123.005501 209.916816,107.910798 208.344183,119.001198 L208.344183,119.001198 Z"></path>
    </defs>
    </svg>

.lessonBlock
    .lessonBlockBackground
        .lessonBlockDescription
            .lessonBlockDescriptionWrap
                .lessonBlockName
                    | Суп из чечевицы и тыквы, карп томленый, медовая коврижка
                .lessonBlockAssign
                    .lessonBlockTag
                        a(href="#") Итальянская кухня
                    .lessonBlockStudio
                        a(href="#").iconPovar Кулинарная студия
                .lessonBlockText
                    | По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «Быстрый обед» мы каждый раз будем учиться готовить что-нибудь новенькое, несложное, но очень аппетитное, всего час – и паста с курицей и пармезаном готова! По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «Быстрый обед» мы каждый раз будем учиться готовить что-нибудь новенькое, несложное, но очень аппетитное, всего час – и паста с курицей и пармезаном готова!
        .lessonBlockSide
            .lessonBlockEvent
                .lessonBlockEventClock
                    .lessonBlockEventClockData
                        | 27,Пн
                        span Сентября
                    .lessonBlockEventClockTime
                        | 13:00
                .lessonBlockEventPrice
                    span 22’900
                .lessonBlockEventReserve
                    | Осталось&nbsp
                    b 220 мест
                .lessonBlockEventButton
                    button.buttonYellow
                        .buttonYellowText Хочу пойти
        .lessonBlockPresenter
            .lessonBlockPresenterPhoto.
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="216px" height="216px" viewBox="0 0 216 216" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="img" transform="translate(3.000000, 3.000000)">
                            <g id="clip" transform="translate(5.000000, 5.000000)">
                                <mask id="mask-2" sketch:name="maskimage" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="maskimage"></g>
                                <image id="image" mask="url(#mask-2)" x="0" y="0" width="200" height="200" xlink:href="img/presenters.jpg"></image>
                            </g>
                            <mask id="mask-4" sketch:name="Mask 2" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <use id="Mask-2" stroke="#979797" stroke-width="5" xlink:href="#path-3"></use>
                        </g>
                    </g>
                </svg>
            .lessonBlockPresenterHeader
                | Ведущий занятия
            .lessonBlockPresenterName
                a(href="#") Баранников евгений
            .lessonBlockPresenterPosition
                | Бренд-шеф сети Bellini Group
    .lessonBlockPhoto
        .lessonBlockPhotoHeader
            | Фотоотчет с занятий
            .lessonBlockPhotoHeaderLink
                a(href="#") Посмотреть полный фотоотчет
        .lessonBlockPhotoBlock
            a(href="#")
                img(src="img/lessonBlockPhotos-1.jpg", alt="")
            a(href="#")
                img(src="img/lessonBlockPhotos-2.jpg", alt="")
            a(href="#")
                img(src="img/lessonBlockPhotos-3.jpg", alt="")
            a(href="#")
                img(src="img/lessonBlockPhotos-4.jpg", alt="")
            a(href="#")
                img(src="img/lessonBlockPhotos-5.jpg", alt="")
