.lessonItem
    a(href="#")
        .lessonItemPhoto
            img(src="img/presentShedule-1.jpg", alt="")
        .lessonItemName
            | Обед за 40 минут. Крем суп из грибов.
        .lessonItemClock
            .lessonItemClockDate
                | 27,пт
                span Сентября
            .lessonItemBottle
            .lessonItemClockTime
                | 13:00
