.breadcrumb
    .breadcrumbItem
        a(href="#") Главная
    .breadcrumbItem
        | Личный кабинет
.lessonHeader
    h1 Занятия
    .lessonHeaderMenu
        .lessonHeaderMenuItem.lessonHeaderMenuItemActive
            a(href="#") Календарь
        .lessonHeaderMenuItem
            a(href="#") Список занятий
