.pagginator
    display block
    text-align center

.pagginatorWrap
    display inline-block
    sf()
    a
        color #914400
        ff(din,2.0)
        transition all .5s
        &:hover
            color #FFA200
            text-decoration none

.pagginatorNav
    display block
    float left
    padding 0 50px
    a
        display block
        float left
        height 46px
        width 46px
        padding-top 11px
    &Active
        text-decoration none
        color #000
        bg()
        background-image inline("pagginatorActive.png")


.pagginatorPrev
    display block
    margin-top 11px
    float left
    bg(left, top 9px)
    padding-left 25px
    background-image inline("pagginatorPrev.png")

.pagginatorNext
    display block
    margin-top 11px
    float left
    bg(right, top 9px)
    padding-right 25px
    background-image inline("pagginatorNext.png")
