.orderComplite
    .orderCompliteWrap
        .orderCompliteBorder
            .orderCompliteHeader
                | Спасибо, ваш заказ оформлен!
            .orderCompliteText
                | В течение рабочего дня Вам перезвонит наш специалист.
