.orderForm
    .orderFormHeader Личные данные
    .orderFormItems
        .orderFormItemColumn
            label.labelDark
                | Как к вам обращаться&nbsp
                span *
            input.inputDark
        .orderFormItemColumn
            label.labelDark
                | Телефон&nbsp
                span *
            input.inputDark
        .orderFormItemColumn
            label.labelDark
                | E-mail:&nbsp
                span *
            input.inputDark.js-inputphone

    .orderFormItemPayItems
        .orderFormItemPayHeader
            | Выберите форму оплаты&nbsp
            span *
        .orderFormItemPayItem.orderFormItemPayItemActive
            label.labelDarkCheckbox
                input(type="radio" name="radio1" checked)
                | Наличными
            .orderFormItemPayItemDescription
                | Оплата производится наличными в точке выдачи, по адресу: Россия, г. Красноярск, пр. Мира, д. 111
        .orderFormItemPayItem
            label.labelDarkCheckbox
                input(type="radio" name="radio1")
                | Безналичными
            .orderFormItemPayItemDescription
                | Используются системы оплаты.
    .orderFormFooter
        .orderFormItem
            p
                | Поля, помеченные специальным знаком&nbsp
                span *&nbsp
                | — обязательны для заполнения
        .orderFormItemCenter
            button.buttonYellow.js-showOrderComplite
                .buttonYellowText Оформить заказ
