.patternBG
    background-repeat repeat
    background-image url("../img/sheduleBG.jpg")

.knifeBG
    display block
    position absolute
    top -3px
    height 44px
    width 100%
    background-repeat repeat-x
    background-image inline("knifeBG.png")
