.lessonBlock
    display block
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    margin-bottom 50px
    sf()

.lessonBlockBackground
    display block
    position relative
    height 100%
    width 100%
    min-height 476px
    padding-top 30px
    padding-bottom 30px
    bg()
    background-size cover
    background-image url("../img/lessonBlockBG.jpg")
    sf()

.lessonBlockDescription
    display block
    float left
    width 719px
    margin-left 30px
    margin-right 76px
    border 10px solid #fff
    padding 3px
    sf()
.lessonBlockDescriptionWrap
    display block
    background-color #FFF
    padding 20px
    sf()

.lessonBlockName
    display block
    ff(hangy,3.6)
    color #242425
    margin-bottom 20px
    sf()

.lessonBlockAssign
    display block
    margin-bottom 20px
    sf()

.lessonBlockTag
    display inline-block
    border 2px solid #a6a178
    padding 2px
    margin-bottom 10px
    margin-right 20px
    sf()
    a
        display block
        padding  4px 6px 5px
        ff(din,1.7,1.7)
        color #fff
        text-decoration none
        background-color #a6a178
        transition all .3s
    &:hover, &Active
        border 2px solid #313131
        a
            background-color #313131

.lessonBlockStudio
    display inline-block
    margin-bottom 5px
    sf()
    a
        display inline-block
        height 40px
        ff(din,1.7,4)
        color #8e8750
        padding-left 48px
    .iconPovar
        bg(left)
        background-image inline("iconPovar.png")
    .iconVine
        line-height 47px
        bg(left)
        background-image inline("iconBottle.png")

.lessonBlockText
    display block
    margin-bottom 20px
    color #414141
    ff(din,1.7,2)
    sf()


.lessonBlockEvent
    display block
    width 256px
    height 263px
    bg()
    background-image url("../img/summaryBG.png")
    padding 20px 0
    margin-bottom 40px
    sf()

.lessonBlockEventClock
    display block
    padding 0 20px 10px
    margin-bottom 20px
    bg(bottom)
    background-image inline("borderDotted.png")
    sf()
.lessonBlockEventClockData
    display block
    float left
    ff(hangy,2.6)
    color #fff
    sf()
    span
        display block
        ff(hangy,1.7)
.lessonBlockEventClockTime
    display block
    margin-top 10px
    float right
    ff(hangy,2.6,3)
    color #fff
    height 30px
    bg(left, top 3px)
    background-image inline("iconClockWhite.png")
    padding-left 30px
    sf()
.lessonBlockEventPrice
    display block
    margin-bottom 0px
    text-align center
    sf()
    span
        display inline-block
        ff(hangy,4,4)
        color #fef27d
        position relative
        margin-left -18px
        &:after
            display block
            position absolute
            right -18px
            top -4px
            content ""
            width 18px
            height 40px
            bg()
            background-image inline("iconRubleYellow.png")
.lessonBlockEventReserve
    display block
    ff(din,1.5)
    color #fff
    text-align center
    margin-bottom 20px
    sf()
.lessonBlockEventButton
    text-align center

.lessonBlockSide
    display block
    position relative
    float left
    width 256px
    sf()
.lessonBlockPresenter
    display block
    position absolute
    height 346px
    width 256px
    bottom -203px
    right 23px
    bg(top)
    background-size 256px
    background-image inline("borderDoubleHalf.png")
    padding-top 20px
    sf()
.lessonBlockPresenterPhoto
    display block
    width 216px
    height 216px
    margin 0 auto 12px
    padding-top 5px
    padding-left 5px
    transition all .5s
    sf()
    svg
        #Mask-2
            transition all .5s
            stroke #484848

.lessonBlockPresenterHeader
    display block
    text-align center
    ff(hangy,3.0)
    color #242425
    margin-bottom 5px
    sf()

.lessonBlockPresenterName
    display block
    text-align center
    a
        ff(hangy,2.2)
        color #914400
        &:hover
            color #c68700
            text-decoration none

.lessonBlockPresenterPosition
    display block
    text-align center
    margin-bottom 10px
    ff(din,1.6)
    color #3a3a3a
    sf()

.lessonBlockPhoto
    display block
    width 100%
    height 268px
    padding 25px 16px 25px 30px
    bg(bottom)
    background-image url("../img/lessonBlockPhotoBG.jpg")
    sf()

.lessonBlockPhotoHeader
    display block
    ff(hangy,3)
    width 722px
    color #242425
    margin-bottom 10px
    &Link
        display block
        margin-top 0px
        float right
        a
            color #914400
            ff(din,1.5,1.5)
            &:hover
                color #FFA200
                text-decoration none
.lessonBlockPhotoBlock
    display block
    width 722px
    box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
    background-color #fff
    padding 10px
    sf()
    a
        width 140px
        height 140px
        img
            width 140px
            height 140px
