.cabinetTabsMenu
    display block
    margin-bottom 25px
    sf()

.cabinetTabButton
    display block
    float left
    sf()
.cabinetTabExit
    display block
    float right
    padding-top 12px
    sf()
.cabinetTabButton
    display inline-block
    padding 12px
    margin-right 20px
    a
        display block
        margin-left -3px
        height 32px
        color #985011
        text-decoration underline
        text-transform uppercase
        ff(hangy,2.6,3.2)
        bg(left)
        background-image inline("iconLK.png")
        padding-left 40px
        transition all .5s
        &:hover
            text-decoration none
            color #212121
            background-image inline("iconLKActive.png")
    &Active
        bg()
        background-image inline("strokeLK.png")
        a
            text-decoration none
            color #212121
            background-image inline("iconLKActive.png")

.cabinetTabButtonLK
    @extend .cabinetTabButton

.cabinetTabButtonOrders
    @extend .cabinetTabButton
    a
        background-image inline("iconOrders.png")
        padding-left 35px
        &:hover
            background-image inline("iconOrdersActive.png")
    &Active
        padding 12px 20px
        a
            background-image inline("iconOrdersActive.png")

.cabinetTabButtonCart
    @extend .cabinetTabButton
    a
        background-image inline("iconSmallCart.png")
        padding-left 40px
        &:hover
            background-image inline("iconSmallCartActive.png")
    &Active
        padding 12px 20px
        a
            background-image inline("iconSmallCartActive.png")


.cabinetLogout
    display block
    margin-left -3px
    height 56px
    outline none
    background-color transparent
    border 0
    color #981111
    text-decoration underline
    text-transform uppercase
    ff(hangy,2.6,3.2)
    bg(left)
    background-image inline("iconLogout.png")
    padding-left 40px
    transition all .5s
    &:hover
        text-decoration none
        color #212121
        background-image inline("iconLogoutActive.png")
