.contactBlock
    display block
    box-shadow 0 0 40px rgba(1, 1, 1, 0.3)
    sf()
.contactBlockText
    display block
    float left
    width 50%
    //height 445px
    padding 20px
    background-color #FFF
    sf()
.contactBlockMap
    display block
    float left
    width 50%
    height 442px
    background-color #FFF
    sf()
.contactBlockTextWrap
    display block
    border 2px solid #cfcfcf
    padding 2px
    sf()
.contactBlockTextBorder
    display block
    border 1px solid #cfcfcf
    padding 25px 30px
.contactBlockTextItem
    display block
    ff(din,2.2)
    color #313131
    margin-bottom 15px
    font-weight bold
    sf()
    .hangy
        ff(hangy,2.6,3)
    span
        display block
        ff(din,1.7,3)
        color #313131
    a
        ff(din,1.7,3)
        color #945f1a
        display block
        &:hover
            color #FFA200
    &:last-child
        margin-bottom 0px


.contactPopup
    display none
    position relative
    width 100%
    height 100%
    left 0
    right 0
    margin-left 50px
    &Wrap
        display block
        width 900px
        padding-right 278px
        height 500px
        abs_center()
        background-repeat no-repeat
        background-position top 130px right
        background-image inline('contactBG.png')
        sf()
    &Show
        display block

.contactPopupClose
    display block
    position absolute
    right 278px
    top 2px

.contactPopupHeader
    display block
    ff(hangy,3.0,3.0)
    color #fff
    margin-bottom 30px

.contactPopupForm
    display block
    margin-bottom 10px
    sf()
.contactPopupFormItems
    display block
    float left
    width 622px
    margin-right 20px

.contactPopupFormPhoto
    display block
    margin-top 38px
    width 248px
    float left

.contactPopupFormFooter
    display block
    sf()
.contactPopupFormItem
    display block
    margin-bottom 18px
    sf()
    &Column
        column(1/2)
        padding 7px 0px
    a
        color #FEF27D
        ff(din,1.7)
        &:hover
            text-decoration none
            color #ef9801
    p
        ff(din,1.4,2.0)
        color #fff
        text-align center
        span
            ff(din,2.0,2.0)
            color #FF5E5E
    &Center
        text-align center
    textarea
        min-height 120px
