.giftCertificatItem
    display block
    width 261px
    float left
    margin-right 19px
    sf()
    &:last-child
        margin-right 0px
.giftCertificatItemPhoto
    display block
    width 261px
    height 200px
    background-color #bfb5a4
    bg(top 10px, left 40px)
    background-image url("../img/mouseBG.png")
    background-size 120% auto
    box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
    sf()
.giftCertificatItemText
    display block
    padding 19px 15px
    ff(din,2.0)
    color #111
    background-color #FFF
    bg(bottom)
    background-image inline("sheduleBottomBorder.png")
    box-shadow 0 1px 4px rgba(92, 62, 46, 0.3)
    sf()
.giftCertificatItemFooter
    display block
    height 80px
    padding 20px
    bg(bottom)
    background-image inline("blockGiftFooterBG.png")

.giftCertificatItemFooterPrice
    display block
    float left
    margin-top 8px
    sf()
    span
        color #fef27d
        ff(hangy,2.8,2.8)
        display inline-block
        padding-right 15px
        bg(top 2px, right)
        background-image inline("iconRubleSmall.png")
.giftCertificatItemFooterButton
    display block
    float right
    sf()
