.input
    display block
    width 100%
    background-color transparent
    border 2px solid #a6a178
    outline 0
    height 44px
    padding 8px
    ff(din,1.5,1.8)
    color #fff
    &::-webkit-input-placeholder
        padding-top 3px
        color #999
    &:-moz-placeholder
        color #999
    &::-moz-placeholder
        color #999
    &:-ms-input-placeholder
        color #999
    &:focus
        border 2px solid #fff

.inputDark
    display inline-block
    width 100%
    background-color transparent
    border 2px solid #a6a178
    outline 0
    height 44px
    padding 8px
    ff(din,1.7)
    color #575757
    border-radius 2px
    margin-bottom 10px
    &:hover
        border 2px solid #484848
    &:focus
        border 2px solid #484848
        background-color #e5e3d1
    &Error
        color #cd0000
        border 2px solid #cd0000
        &:hover
            border 2px solid #cd0000
        &:focus
            border 2px solid #cd0000
            background-color transparent
.textareaLight
    display block
    width 100%
    background-color transparent
    border 2px solid #a6a178
    outline 0
    padding 8px
    ff(din,1.5,1.8)
    color #fff
    &:focus
        border 2px solid #fff
.textarea
    display inline-block
    width 100%
    background-color transparent
    border 2px solid #a6a178
    outline 0
    padding 8px
    ff(din,1.7)
    color #575757
    border-radius 2px
    margin-bottom 10px
    &:hover
        border 2px solid #484848
    &:focus
        border 2px solid #484848
        background-color #e5e3d1
    &Error
        color #cd0000
        border 2px solid #cd0000
        &:hover
            border 2px solid #cd0000
        &:focus
            border 2px solid #cd0000
            background-color transparent
.inlineInput
    background-color #FFF
    border 1px solid #999
    outline 0
    height 32px
    padding 8px
    margin-left 5px
    ff(normal,1.6,1.6)
    &::-webkit-input-placeholder
        padding-top 3px
        color #999
    &:-moz-placeholder
        color #999
    &::-moz-placeholder
        color #999
    &:-ms-input-placeholder
        color #999
