.photoGallery
    .photoGalleryHeader
        | Суп из чечевицы и тыквы, карп томленый, медовая коврижка
    .photoGalleryItems
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
        img(src="img/gallery-1-thumb.jpg", data-src="img/gallery-1.jpg" alt="")
