.photoList
    .photoListRow
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов. Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36

        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
    .photoListRow
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
    .photoListRow
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
        .photoListItem
            a(href="#")
                .photoListItemPhoto
                    img(src="img/photos-1.jpg", alt="")
                .photoListItemName
                    | Обед за 40 минут. Крем суп из грибов.
                .photoListItemFooter
                    .photoListItemFooterDate
                        | 27 сентября 2015
                    .photoListItemFooterNumber
                        | 36
