.menu
    display block
    position absolute
    top 176px
    width 100%
    z-index 100
    height 77px
    sf()
.menuWrap
    display block
    position relative
    width 100%
    height 77px
    bg(left)
    background-repeat repeat-x
    background-size 1900px 77px
    background-image inline("menuBG.svg")
.menuItems
    display block
    position relative
    width 1105px
    margin 0 auto
    sf()

.menuItem
    display block
    position relative
    float left
    ff(hangy,2.3)
    padding 0 12px
    height 77px
    position relative
    transition background-image .5s
    a
        display block
        padding-top 28px
        height 77px
        color #161616
        transition all .5s
    &:hover
        background-size 1900px 77px
        background-image inline("menuBGActive.svg")
        a
            color #fff
            text-decoration none
        // .menuItemDropdown
        //     opacity 1
        //     visibility visible
        //     height auto
        //     &Item
        //         opacity 1

.menuItemDropdown
    display none
    opacity 0
    visibility hidden
    position absolute
    background-color #5a5a5a
    top 70px
    left 0
    z-index -10
    padding 10px 0
    transition all 1s
    opacity 0
    overflow hidden
    &Item
        display block
        ff(din,1.8,4)
        height 40px
        opacity 0
        transition all .5s
        a
            text-decoration none
            white-space nowrap
            padding 0 28px
            color #E8E5CF !important
        &:hover
            background-color #fff37e
            a
                color #3B3928 !important

.menuItemDropdownOpen
    display block
    opacity 1
    visibility visible
    height auto
    .menuItemDropdownItem
        opacity 1
