.footer
    display block
    margin-top -30px
    width 100%
    bg(top)
    background-repeat repeat-x
    background-image url("../img/footerBG.jpg")
    sf()

.footerWrap
    center(1200px)
.footerMenuItems
    display block
    position relative
    width 1200px
    margin 0 auto
    border-bottom 3px solid #444548
    sf()

.footerMenuItem
    display block
    position relative
    float left
    ff(hangy,2.3)
    padding 0 14px
    position relative
    a
        display block
        padding-top 28px
        height 80px
        color #A29F89
        transition all .5s
    &:hover
        a
            color #FFF37E
            text-decoration none
.footerContacts
    display block
    padding 30px 0 40px
    sf()
.footerLogo
    display block
    float left
    width 181px
    height 61px
    margin-right 25px
    bg()
    background-image inline("footerLogo.png")

.footerCopyright
    display block
    float left
    ff(din,1.4)
    color #fff

.footerPhone
    display block
    float left
    margin-left 30px
    width 285px
    ff(hangy,3.4)
    letter-spacing -0.05em
    color #E1D8B4
    span
        ff(hangy,3.4)
        letter-spacing -0.05em
        color #fff
    &Links
        margin-top 5px
        margin-right 35px
        text-align right
        ff(din,1.4,1.4)
        letter-spacing normal
        color #fff

.footerSocial
    display block
    margin-left 30px
    float left
    sf()
.footerSocialIcon
    display block
    float left
    position relative
    margin-right 10px
    width 46px
    height 46px
    bg()
    background-size 100% 100%
    transition background-image .5s
    sf()
    a
        display block
        width 100%
        height 100%
        transition all .5s
        bg()

.footerSocialVK
    @extend .footerSocialIcon
    a
        background-image inline("iconVKWhite.png")
    &:hover
        a
            background-image inline("iconVKWhiteActive.png")
.footerSocialFB
    @extend .footerSocialIcon
    a
        background-image inline("iconFBWhite.png")
    &:hover
        a
            background-image inline("iconFBWhiteActive.png")
.footerSocialIN
    @extend .footerSocialIcon
    a
        background-image inline("iconINWhite.png")
    &:hover
        a
            background-image inline("iconINWhiteActive.png")

.footerStudio
    display block
    float left
    margin-top 15px
    margin-left 25px
    sf()
    a
        display block
        width 54px
        height 21px
        bg()
        background-image inline("iconStudio.png")
